@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    /* Pattern */
    .pattern-fibers{
        background-image: url(../elements/paper_fibers_@2X.png);
        background-size: 410px 410px;
    }
}

@media (max-width: 1070px) {
    .owl-carousel.hero-slider .owl-nav {
        margin-top: -25px;
    }
}

@media (max-width: 1040px) {
    /* Booking Form */
    #booking-form .field-header {
        display: none;
    }
    
    .site-footer .brands .logo {
        width: 20%;
    }
}

@media (max-width: 960px) {
    .room-slides-wrap {
        position: static;
        width: 100%;
        height: 220px;
        height: 56.25vw;
        min-height: 220px;
    }
    
    .room-slides-thumbs {
        position: static;
        background-color: #222;
    }
    
    .room-slides-thumbs .title,
    .room-slides-thumbs .toggle {
        display: none;
    }
    
    .room-info {
        position: static;
    }
    
    .room-info .content {
        padding: 15px;
    }
    
    .room-info .booking {
        display: none;
    }
}

@media (max-width: 920px) {
    .site-content.sidebar-left .col-content,
    .site-content.sidebar-left .col-sidebar {
        width: 100%;
        position: static;
        left: 0;
        right: 0;
    }
    
    .sidebar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-left: -10px;
        margin-right: -10px;
    }
    
    .sidebar .aside {
        float: left;
        width: 33.33%;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .page-cover .owl-nav {
        display: none;
    }
    
    /* Booking Form */
    #booking-form .field-adults,
    #booking-form .field-children,
    #booking-form .field-rooms {
        display: none;
    }
}

@media (max-width: 720px) {
    .room-info .col-thumbnail,
    .room-info .col-info {
        margin-bottom: 15px;
    }
    
    .room-info .col-thumbnail {
        width: 40%;
    }
    .room-info .col-info {
        width: 60%;
    }
    .room-info .col-amenities {
        width: 100%;
    }
    .room-info .amenities .shad-left,
    .room-info .amenities .shad-right {
        display: none;
    }
}

@media (max-width: 640px) {
    .site-action .group-home,
    .site-action .social {
        display: none;
    }
    
    /* Footer */
    .site-footer .connect .social,
    .site-footer .connect .contact {
        float: none;
        text-align: center;
    }
    
    .site-footer .colophon {
        text-align: center;
    }
    .site-footer .colophon .address,
    .site-footer .colophon .license {
        position: static;
        width: 100%;
    }
    .site-footer .colophon .address {
        margin-bottom: 10px;
    }
    
    /* Booking Form */
    #booking-form .field-code {
        display: none;
    }
}

@media (max-width: 600px) {
    .sidebar .aside {
        width: 50%;
    }
    
    .site-footer .brands .logo {
        width: 33.33%;
    }
}

@media (max-width: 540px) {
    /* Booking Form */
    #booking-form .field-checkin,
    #booking-form .field-checkout {
        display: none;
    }
    #booking-form #submit {
        height: 46px;
        line-height: 45px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .room-info .col-thumbnail,
    .room-info .col-info {
        width: 100%;
    }
    
    .room-info .col-thumbnail .desktop.book-this-room-button {
        display: none;
    }
    
    .room-info .col-info .mobile.book-this-room-button {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 360px) {
    .site-footer .brands .logo {
        width: 50%;
    }
}
