html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}

hr {
    border-width: 1px 0 0;
    border-style: dotted;
    border-color: #ccc;
    height: 1px;
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
}

a {
    text-decoration: none;
    color: #9A7B12;
    &:hover {
        color: #333;
    }
}

ul, ol {
    padding-left: 20px;
}

dt {
    float: left;
}

dd {
    margin-left: 100px;
    margin-bottom: 5px;
}

img {
    &.block {
        display: block;
    }
    &.responsive {
        max-width: 100%;
        height: auto;
    }
    &.force {
        display: block;
        width: 100%;
        height: auto;
    }
}

* {
    box-sizing: border-box;
}

#page {
    margin-top: 69px;
}

.container {
    position: relative;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.mobile {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
}

html {
    &.preload *,
    &.resizing * {
        transition: none !important;
    }
}

.disable-scroll {
    overflow: hidden;
}

.mobile {
    display: none;
}

.hidden {
    display: none !important;
}

/* Fonts */

.font-cinzel {
    font-family: 'Cinzel', serif;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

/* Form */

.form {
    .form-group {
        display: block;
        margin-bottom: 10px;
    }
    .field {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    .field-required .label:after {
        content: '*';
        color: darkred;
    }
    .input-text, .input-select {
        width: 100%;
        display: inline-block;
        font-size: 12px;
        line-height: 28px;
        height: 28px;
        padding: 0 6px;
        border: 0;
        border-radius: 0.25rem;
    }
    .input-textarea {
        width: 100%;
        display: inline-block;
        font-size: 12px;
        line-height: 28px;
        height: 28px;
        padding: 0 6px;
        border: 0;
        height: inherit;
        line-height: inherit;
        padding: 6px;
    }
    .button {
        display: inline-block;
        font-size: 12px;
        line-height: 27px;
        height: 28px;
        padding: 0 15px 1px;
        border: 1px solid #000;
        background-color: #666;
        color: #fff;
        border-radius: 0.25rem;
    }
}

/* Layout */

.row {
    margin-left: -15px;
    margin-right: -15px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    > [class*="col-"] {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }
}

.col-w1 {
    width: 8.3333%;
}

.col-w2 {
    width: 16.6666%;
}

.col-w3 {
    width: 25%;
}

.col-w4 {
    width: 33.3333%;
}

.col-w5 {
    width: 41.6666%;
}

.col-w6 {
    width: 50%;
}

.col-w7 {
    width: 58.3333%;
}

.col-w8 {
    width: 66.6666%;
}

.col-w9 {
    width: 75%;
}

.col-w10 {
    width: 83.3333%;
}

.col-w11 {
    width: 91.6666%;
}

.col-w12 {
    width: 100%;
}

.row.nopadding {
    margin-left: 0;
    margin-right: 0;
    > [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

/* Pattern */

[class*='pattern-'] {
    background-position: center;
    background-repeat: repeat;
}

.pattern-noise {
    background-image: url(../elements/pattern-noise.png);
}

/* Shadow */
/* Oval */

.shad-oval {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        top: 0;
        bottom: 0;
        left: 10px;
        right: 10px;
        border-radius: 100px / 10px;
    }
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        top: 0;
        bottom: 0;
        left: 10px;
        right: 10px;
        border-radius: 100px / 10px;
        right: 10px;
        left: auto;
        transform: skew(8deg) rotate(3deg);
    }
}

/* Header */

.site-header {
    background-color: #fff;
    border-bottom: 3px solid #9A7B12;
    z-index: 20;
    .container {
        height: 100%;
        position: relative;
    }
    @media (min-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 135px;
    }
    @media (min-width: 1140px) {
        height: 100px;
    }
}

.site-branding {
    display: block;
    text-align: center;
    position: relative;
    a, img {
        display: inline-block;
    }
    a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    @media (min-width: 768px) {
        display: inline-block;
        text-align: left;
        padding-top: 8px;
    }
    @media (min-width: 1140px) {
        padding-top: 12px;
    }
}

.site-navigation {
    display: none;
    height: 38px;
    background-color: #EEE;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    ul {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        color: #333;
        line-height: 38px;
        padding: 0;
        text-align: center;
        font-weight: 400;
        white-space: nowrap;
    }
    .list-menu > li + li {
        margin-left: 20px;
    }
    li:hover > a,
    li:active > a {
        background-color: rgba(255,255,255,.1);
    }
    li.has-sub-menu {
        position: relative;
        z-index: 1;
        > a::after {
            content: '\f107';
            font-family: 'FontAwesome';
            margin-left: 5px;
            line-height: 1;
        }
    }
    li.has-toggle-sub-menu {
        > a {
            padding-right: 40px;
            &::after {
                content: '\f107';
                font-family: 'FontAwesome';
                position: absolute;
                right: 15px;
            }
        }
        &.visible {
            > a {
                background-color: rgba(255,255,255,.1);
            }
            ul.sub-menu {
                display: block;
            }
        }
    }
    li:not(.has-toggle-sub-menu):hover > ul.sub-menu {
        display: block;
    }
    ul.sub-menu {
        display: none;
        position: absolute;
        top: 38px;
        left: 0;
        background-color: #222;
        min-width: 100%;
        a, li.label {
            padding: 0 15px;
            display: block;
        }
        li {
            position: relative;
            display: block;
        }
        li.label {
            color: #222;
            background-color: #aaa;
            font-size: 12px;
        }
        a {
            display: block;
            line-height: 2;
            text-align: left;
            color: #fff;
        }
        .level-2 {
            position: static;
            font-size: 12px;
            background-color: #555;
            li {
                font-size: 12px;
            }
            > li > a {
                padding-left: 20px;
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1140px) {
        background: none;
        position: absolute;
        left: 230px;
        right: 245px;
        bottom: 15px;
        ul {
            justify-content: center;
        }
    }
}

/**
 * Topbar
 */
.site-topbar {
    display: none;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    font-size: 0.85rem;
    height: 24px;
    padding-top: 3px;
    padding-right: 15px;
    @media (min-width: 768px) {
        display: block;
    }
    &::before {
        content: '';
        background-color: #eee;
        position: absolute;
        top: 0;
        left: -24px;
        width: 24px;
        height: 24px;
        border-bottom-left-radius: 75%;
    }
    > ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            & + li {
                margin-left: 0.5rem;
            }
        }
    }
    a {
        color: #333;
        &:hover,
        &:active {
            color: #9A7B12;
        }
    }
}

.site-header,
.site-branding,
.site-branding a,
.site-navigation,
.site-topbar,
.member-container {
    transition: 150ms;
}

.site-header {
    @media (min-width: 1140px) {
        &.mini {
            height: 70px;
            .site-branding {
                padding-top: 8px;
                a {
                    padding: 0;
                }
            }
            .site-topbar {
                transform: translate(0, -24px);
                transform: translate3d(0, -24px, 0);
            }
            .site-navigation {
                bottom: 12px;
            }
            #member {
                top: 10px;
            }
        }
    }
}

/**
 * Side Panel
 */
.side-panel {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    height: 100vh;
    z-index: 99;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: auto;
    transform: translate(-100%, 0);
    transform: translate3d(-100%, 0, 0);
    transition: transform 350ms;
    will-change: transform;
    ul {
        list-style: none;
        margin: 0.5rem 0;
        padding: 0;
    }
    ul.list-menu {
        a {
            display: block;
            padding: 0.5rem 15px;
            &:active,
            &:hover {
                background-color: #f5f5f5;
            }
        }
        li.current > a {
            background-color: #9A7B12;
            color: #fff;
        }
    }
    ul.sub-menu {
        margin: 0;
        background-color: #fafafa;
        display: none;
        a, .label {
            font-size: 0.9rem;
            padding: 0.3rem 15px 0.25rem 30px;
        }
        .label {
            background-color: #D6C99F;
            color: #fff;
            line-height: 1;
        }
    }
    li.has-sub-menu {
        a {
            position: relative;
        }
        > a::after {
            content: '\f107';
            font-family: 'FontAwesome';
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -.5em;
            line-height: 1;
            transition: transform 350ms;
        }
        &.show > a::after {
            transform: rotate(180deg);
        }
    }

    .divider {
        display: block;
        width: auto;
        height: 1px;
        background-color: #eee;
    }

    .languages {
        padding: 1rem 15px;
        h3 {
            font-size: smaller;
        }
        li {
            display: inline-block;
        }
        a {
            &:hover,
            &:active {
                border-bottom: 1px solid currentColor;
            }
        }
    }

    &-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        background-color: #000;
        z-index: 99;
        transition-property: opacity, visibility;
        transition-duration: 350ms;
    }

    &-drag {
        position: fixed;
        top: 0;
        left: 0;
        width: 15px;
        height: 100%;
        height: 100vh;
        background: none;
        z-index: 99;
    }
}

body.side-panel-show {
    overflow: hidden;
    .side-panel {
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        &-bg {
            opacity: 0.65;
            visibility: visible;
        }
    }
}

.side-panel-trigger {
    display: block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #333;
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 10;
    @media (min-width: 768px) {
        display: none;
    }
}

/**
 * Language Select
 */
#lang_select {
    position: relative;
    cursor: default;
    .list-lang {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        transition: 350ms 250ms;
        font-size: 1rem;
        filter: drop-shadow(0 0 3px rgba(0,0,0,.2));
        a {
            display: block;
            white-space: nowrap;
            padding: 0.25rem 0.75rem;
            color: #333;
            &:hover,
            &:active {
                background-color: #1f4680;
                color: #fff;
            }
            .flag {
                vertical-align: -0.25em;
            }
        }
    }
    &:hover,
    &:active {
        .display {
            color: #9A7B12;
        }
        .list-lang {
            opacity: 1;
            visibility: visible;
            transition-delay: 0ms;
        }
    }
}

/**
 * Panel Member
 */
#member {
    position: relative;
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: 768px) {
        position: absolute;
        top: 35px;
        right: 15px;
        width: 230px;
        margin: 0;
    }
    @media (min-width: 1200px) {
        right: 0;
    }
    .title {
        font-size: 1em;
        line-height: 1.2;
    }
    .description {
        font-size: 0.75em;
        line-height: 1.2;
    }
    .icon-discount {
        position: absolute;
        top: 0.65em;
        left: 9px;
    }
    .member-panel-trigger,
    .member-account {
        display: none;
        position: relative;
        padding: 0.7em 0.25em 0.5em calc(0.25em + 34px);
        color: #FFF;
        text-decoration: none;
        height: 48px;
        transition: 350ms;
        @media (min-width: 768px) {
            border-radius: 0.25rem;
        }
    }
    .member-panel-trigger {
        background-color: #1F4680;
        cursor: pointer;
        .description {
            color: lighten(#1F4680, 46);
        }
        &:hover,
        &:active {
            background-color: darken(#1F4680, 3);
        }
    }
    .member-account {
        background-color: #9A7B12;
        cursor: default;
        .description {
            color: lighten(#9A7B12, 46);
        }
    }
    .member-panel {
        display: none;
        background-color: #133567;
        background-color: darken(#1F4680, 7);
        padding: 12px;
        border-radius: 0.25em;
        color: #FFF;
        .form-group {
            margin-bottom: 10px;
        }
        input[name="email"] {
            background-color: transparent;
            width: 100%;
            background: none;
            padding: 0.5rem 0.75rem;
            border: 1px solid #fff;
            border-radius: 0.25rem;
            color: #FFF;
            &:valid {
                box-shadow: 0 0 0 2px green;
            }
            &::-webkit-input-placeholder {
                color: #FFF;
            }
            &::-moz-placeholder {
                color: #FFF;
            }
            &:-moz-placeholder {
                color: #FFF;
            }
            &:-ms-input-placeholder {
                color: #FFF;
            }
        }
        .btn {
            padding: 0.5rem 0.75rem;
            border-radius: 0.25rem;
            border: 1px solid #FFF;
            background-color: #FFF;
            cursor: pointer;
            transition: 350ms;
            color: #555;
            &:hover,
            &:active {
                transition: 0ms;
            }
            &-borderless {
                border-color: transparent;
                background-color: transparent;
            }
        }
        .btn-submit {
            &:hover,
            &:active {
                background-color: #78A321;
                border-color: darken(#78A321, 10);
                color: #FFF;
            }
        }
        .btn-close {
            color: #FFF;
            &:hover,
            &:active {
                color: #CCC;
            }
        }
        p {
            line-height: 1.2;
            margin: 0 0 10px;
        }
    }
    .is-member .member-account {
        display: block;
    }
    .is-guest .member-panel-trigger {
        display: block;
    }
}

/**
 * Datepicker UI
 */
$datepickerThemeColor: #9A7B12;
.ui-datepicker-prev.ui-state-hover:after {
    border-right-color: $datepickerThemeColor;
}

.ui-datepicker-next.ui-state-hover:after {
    border-left-color: $datepickerThemeColor;
}

.ui-datepicker-calendar {
    .ui-datepicker-week-end {
        color: $datepickerThemeColor;
    }
    .ui-state-highlight {
        color: $datepickerThemeColor;
        font-weight: bold;
    }
    .ui-state-active {
        background-color: $datepickerThemeColor;
        color: #fff;
    }
}

/* Main */

.site-main {
    position: relative;
    z-index: 1;
    > .inner {
        background-color: #fff;
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        z-index: 1;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    &:before {
        content: '';
        width: 40%;
        height: 10%;
        background-color: red;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 5px;
        bottom: 20px;
        transform: rotate(-3deg);
        z-index: -2;
    }
    &:after {
        content: '';
        width: 40%;
        height: 10%;
        background-color: red;
        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 5px;
        bottom: 20px;
        transform: rotate(-3deg);
        z-index: -2;
        left: auto;
        right: 5px;
        transform: rotate(3deg);
    }
}

.section-title {
    text-align: center;
    font-size: 28px;
    &.underline {
        position: relative;
        margin-bottom: 40px;
        &:after {
            content: '';
            width: 80px;
            height: 1px;
            background-color: #000;
            position: absolute;
            top: 125%;
            left: 50%;
            margin-left: -40px;
            z-index: 1;
        }
    }
}

/* Sidebar */

.sidebar {
    max-width: 260px;
    .aside {
        margin-bottom: 30px;
        font-size: 12px;
        .title {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-size: 18px;
            color: #333;
            margin-bottom: 14px;
        }
    }
}

.sidebar-left {
    .col-content {
        width: 66.6666%;
        position: relative;
        left: 33.3333%;
        float: left;
    }
    .col-sidebar {
        width: 33.3333%;
        position: relative;
        right: 66.6666%;
        float: left;
    }
}

/* Footer */

.site-footer {
    .brands {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 0;
        .logo {
            display: inline-block;
            vertical-align: middle;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            filter: grayscale(100%) opacity(60%);
            transition: 200ms;
            &:hover {
                filter: grayscale(0%) opacity(100%);
            }
        }
    }
    .connect {
        background-color: #080808;
        color: #fff;
        min-height: 40px;
        line-height: 40px;
        a {
            color: #fff;
        }
    }
    .social {
        span {
            margin-left: 3px;
        }
        a {
            border-radius: 50%;
            line-height: 28px;
            width: 28px;
            display: inline-block;
            text-align: center;
            &:hover {
                opacity: 0.9;
            }
        }
        .facebook a {
            background-color: #3B5A97;
        }
        .googleplus a {
            background-color: #CF463B;
        }
        .youtube a {
            background-color: #C9312F;
        }
        .twitter a {
            background-color: #41ABDD;
        }
        .instagram a {
            background-color: #6B4D08;
        }
    }
    .contact a {
        padding: 0 10px;
        display: inline-block;
        &:hover {
            background-color: #333;
        }
    }
    .colophon {
        background-color: #1a355e;
        font-size: 11px;
        color: #fff;
        padding-top: 12px;
        padding-bottom: 12px;
        a {
            color: #fff;
            &:hover {
                border-bottom: 1px dotted #fff;
            }
        }
        .address-info {
            font-style: normal;
        }
        .license {
            position: absolute;
            right: 15px;
            bottom: 0;
        }
    }
}

/* Special Offers */

.promotion {
    background-color: #e1e1e1;
    margin-bottom: 20px;
    padding: 20px 40px;
    color: #575757;
    border: 1px solid #ccc;
    &:last-of-type {
        margin-bottom: 0;
    }
    .article-title {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .content .title {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #c20010;
        margin-bottom: 14px;
    }
    .list-heading {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        + ul {
            margin-top: 0;
        }
    }
    .booking {
        background-color: #676767;
        color: #cbcbcb;
        padding: 10px 15px;
        border-radius: 6px;
        font-size: 12px;
        .title {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: 300;
            margin-bottom: 5px;
            .discount {
                font-weight: 700;
                font-size: 22px;
                color: #fff;
                margin-right: 5px;
            }
        }
        ul {
            list-style: none;
            margin-top: 5px;
            margin-bottom: 15px;
            padding: 0;
        }
        li {
            border-bottom: 1px dotted #cbcbcb;
            padding: 3px 0;
        }
        .label {
            width: 80px;
            display: inline-block;
        }
        .button {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 28px;
            padding: 0 15px;
            border-radius: 2px;
            background-color: #C38D1C;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#F6BB43), to(#C38D1C));
            background-image: -webkit-linear-gradient(top, #F6BB43, #C38D1C);
            background-image: linear-gradient(to bottom, #F6BB43, #C38D1C);
            color: #fff;
            user-select: none;
            &:hover {
                background: #333;
            }
        }
    }
}

/* Contact */

#detail-select {
    display: inline-block;
    background-color: transparent;
    height: 36px;
    line-height: 36px;
    position: relative;
    padding-right: 30px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    &:after {
        content: '\f107';
        font-family: 'FontAwesome';
        position: absolute;
        right: 15px;
        top: 50%;
        line-height: 1;
        font-size: 14px;
        margin-top: -7px;
    }
    &:hover, &.focus {
        background-color: #284f8b;
        z-index: 99;
    }
    .selected {
        line-height: 36px;
        display: inline-block;
        padding: 0 15px;
    }
    .options-box {
        display: none;
        margin-top: 1em;
        position: absolute;
        top: 100%;
        right: 0;
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
    }
    &.focus .options-box {
        display: block;
    }
    .options {
        list-style: none;
        margin: 0;
        padding: 10px 0;
        background-color: #284f8b;
        line-height: 2;
        border-radius: 3px;
        overflow: hidden;
    }
    .options-box:before {
        content: '';
        border-width: 0 10px 10px;
        border-style: solid;
        border-color: transparent transparent #284F8B;
        position: absolute;
        top: -10px;
        right: 10px;
    }
    .option {
        white-space: nowrap;
        padding: 0 15px;
        &:hover, &.active {
            background-color: #416db2;
        }
    }
    .option-label {
        padding: 5px 15px 0;
        cursor: default;
        font-weight: 400;
    }
    .sub-options {
        list-style: none;
        margin: 0;
        padding: 0;
        .option {
            padding-left: 30px;
        }
    }
}

/* Home Slider */

#home_slider {
    .item {
        height: 600px;
        max-height: 60vh;
    }
    .col-phuket img, .col-krabi img {
        position: absolute;
        bottom: 10%;
        max-width: 343px;
        min-width: 200px;
        height: auto;
        -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    }
    .col-phuket img {
        right: 10%;
    }
    .col-krabi img {
        left: 10%;
    }
    .col-phuket img:hover, .col-krabi img:hover {
        opacity: 0.9;
    }
}

/* Booking Bar */

.booking-bar {
    background-color: transparent;
    height: 75px;
    position: relative;
    z-index: 11;
    .inner {
        background-color: #9a7b12;
        height: 75px;
        text-align: center;
    }
    &.fixed .inner {
        position: fixed;
        top: 69px;
        left: 0;
        right: 0;
    }
}

#booking-form {
    .table {
        width: 100%;
    }
    .table-cell {
        height: 75px;
        vertical-align: middle;
    }
    .table-cell-hotel {
        max-width: 130px;
    }
    .table-cell-checkin, .table-cell-checkout {
        max-width: 120px;
    }
    .table-cell-code {
        max-width: 100px;
    }
    .field {
        width: 100%;
        padding: 0 5px;
    }
    .label {
        color: #fff;
        font-size: 12px;
        display: block;
        position: absolute;
        top: -1.2em;
        line-height: 1;
    }
    .input-select {
        min-width: 70px;
        padding-right: 24px;
        appearance: none;
        background-image: url(../elements/dropdown_arrow.png);
        background-position: right 55%;
        background-repeat: no-repeat;
        &::-ms-expand {
            display: none;
        }
    }
    .field-header {
        position: relative;
        padding-right: 60px;
        &:after {
            content: '';
            position: absolute;
            top: -6px;
            bottom: -6px;
            right: 0;
            width: 58px;
            background-image: url(../elements/seperate.png);
            background-position: center;
        }
    }
    .field-error {
        position: relative;
        &[data-error-msg]:after {
            content: attr(data-error-msg);
            position: absolute;
            display: block;
            font-size: 11px;
            color: darkred;
            margin-top: 2px;
        }
        .error {
            background-color: darkred;
            color: #fff;
        }
    }
    .field-error-msg {
        position: absolute;
        top: 100%;
        left: 5px;
        margin-top: 3px;
        font-size: smaller;
        color: #fff;
        background-color: darkred;
        padding: 0 8px;
        border-radius: 2px;
        cursor: default;
        user-select: none;
    }
    #checkin, #checkout {
        background-image: url(../elements/cal.png);
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 30px;
    }
    #submit {
        background-color: #0b0b09;
        color: #fff;
        border: 0;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        padding: 0;
        min-width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 1.25rem;
    }
}

/* Owl Carousel */

.owl-carousel {
    &.has-nav {
        padding-left: 40px;
        padding-right: 40px;
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 5px;
        right: 5px;
        margin-top: -48px;
        height: 0;
        .disabled {
            display: none;
        }
        .owl-next {
            float: right;
        }
        .owl-prev {
            float: left;
        }
    }
}

.fx-scale .owl-item {
    .item {
        transform: scale(0.75) translateZ(0);
        transition: 300ms;
        filter: grayscale(100%);
    }
    &.center .item {
        transform: scale(1);
        filter: grayscale(0%);
    }
}

/**
 * Social Side Sticky
 */
#social_side {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 20;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
    }
    a {
        display: block;
        width: 32px;
        text-align: center;
        padding: 4px 0;
        transition: 350ms;
        &:hover,
        &:active {
            background-color: #eee;
            transition-duration: 0ms;
            [class*="sprite-social-"] {
                filter: brightness(1.2);
                transition-duration: 0ms;
            }
        }
        [class*="sprite-social-"] {
            display: block;
            margin: auto;
            transition: 350ms;
        }
    }
}