@media (max-width: 1140px) {
    .site-footer .brands .logo {
        width: 20%;
    }
}

@media (max-width: 1040px) {
    #booking-form .table-cell-header {
        display: none;
    }
}

@media (max-width: 960px) {
    #page {
        margin-top: 0;
    }
    /* Sidebar */
    .sidebar-left {
        .col-content, .col-sidebar {
            width: 100%;
        }
        .row {
            .col-content, .col-sidebar {
                left: 0;
            }
        }
    }
    .sidebar {
        width: auto;
        max-width: inherit;
        margin-left: -10px;
        margin-right: -10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        .aside {
            width: 25%;
            float: left;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media (max-width: 768px) {
    .site-main {
        &:before, &:after {
            content: none;
        }
        > .inner {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    /* Sidebar */
    .sidebar .aside {
        width: 33.33%;
    }
    /* Booking Form */
    #booking-form {
        .table-cell-adults, .table-cell-children, .table-cell-rooms {
            display: none;
        }
    }
    /* Special Offers */
    .promotion {
        padding: 15px;
        .col-thumbnail, .col-detail {
            width: 50%;
        }
        .col-booking {
            width: 100%;
            margin-top: 15px;
        }
    }
}

@media (max-width: 720px) {
    /* Hero Slider */
    #home_slider {
        .col-phuket img, .col-krabi img {
            max-width: inherit;
            max-height: 40%;
            width: auto;
        }
        .col-phuket img {
            right: 10%;
        }
        .col-krabi img {
            left: 10%;
        }
    }
}

@media (max-width: 640px) {
    /* Booking Form */
    #booking-form .field-code {
        display: none;
    }
    /* Footer */
    .site-footer {
        .brands .logo {
            width: 25%;
        }
        .connect {
            .social, .contact {
                float: none;
                text-align: center;
            }
        }
        .colophon {
            .address {
                position: static;
                text-align: center;
            }
            .license {
                position: static;
                text-align: center;
                margin-top: 1em;
            }
        }
    }
    /* Owl Carousel */
    .owl-carousel.has-nav {
        padding-left: 0;
        padding-right: 0;
        .owl-nav {
            display: none;
        }
    }
}

@media (max-width: 540px) {
    /* Booking Form */
    #booking-form {
        .table-cell-checkin, .table-cell-checkout {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    /* Sidebar */
    .sidebar .aside {
        width: 50%;
    }
    /* Hero Slider */
    #home_slider {
        .col-phuket img, .col-krabi img {
            left: 0;
            right: 0;
            display: block;
            margin: auto;
        }
    }
    /* Special Offers */
    .promotion {
        .col-thumbnail {
            width: 100%;
        }
        .col-detail {
            width: 100%;
            margin-top: 15px;
        }
    }
    /* Footer */
    .site-footer .brands .logo {
        width: 33.33%;
    }
}

@media (max-width: 360px) {
    /* Sidebar */
    .sidebar .aside {
        width: 100%;
    }
    /* Footer */
    .site-footer .brands .logo {
        width: 50%;
    }
}

@media (max-height: 600px) {
    /* Hero Slider */
    #home_slider .item {
        height: 100vh;
        max-height: inherit;
    }
}