/* Sprite */

.sprite {
	display: inline-block;
	vertical-align: middle;
	&.arrow-left {
		background-image: url(../elements/sprite-arrow.png);
		background-position: left top;
		width: 50px;
		height: 50px;
	}
	&.arrow-right {
		background-image: url(../elements/sprite-arrow.png);
		background-position: right top;
		width: 50px;
		height: 50px;
	}
	&.slide-nav-left {
		background-image: url(../elements/sprites-slide-nav.png);
		background-position: left top;
		width: 22px;
		height: 45px;
	}
	&.slide-nav-right {
		background-image: url(../elements/sprites-slide-nav.png);
		background-position: right top;
		width: 22px;
		height: 45px;
	}
}

[class*="sprite-social-"] {
    background-image: url('../elements/sprite-social.png');
    background-size: 60px 60px;
    width: 20px;
    height: 20px;
    @media (min-resolution: 2dppx) {
        background-image: url('../elements/sprite-social@2x.png');
    }
}

.sprite-social-facebook { background-position: 0 0; }
.sprite-social-youtube { background-position: -20px 0; }
.sprite-social-instagram { background-position: -40px 0; }