[class*="ratio-"] {
    position: relative;
    height: 0;
    padding-bottom: 0;
    > .item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

$ratios: (
    wide: 56.25%,
    photo: 66%,
    square: 100%,
    pano: 33.33%,
);

@each $ratio in map-keys($ratios) {
    .ratio-#{$ratio} {
        padding-top: map-get($ratios, $ratio);
    }
}