/* Overide main.css here */

/* =Hide ugly Google Conversation iframe */
iframe[name="google_conversion_frame"] {
	height: 0;
	opacity: 0;
	display: block;
}

/* =Gray Fashion */
.site-header,
.site-footer,
.room-slides-wrap,
.room-slides-thumbs,
.room-info,
#offside-menu,
body:not(.room) .site-main {
    *-webkit-filter: grayscale(1);
    *-ms-filter: grayscale(1);
    *filter: grayscale(1);
    *filter: gray;
}