/* Sprite */
.sprite {
    display: inline-block;
    vertical-align: middle;
}

.sprite.arrow-left {
    background-image: url(../elements/sprite-arrow.png);
    background-position: left top;
    width: 50px;
    height: 50px;
}

.sprite.arrow-right {
    background-image: url(../elements/sprite-arrow.png);
    background-position: right top;
    width: 50px;
    height: 50px;
}

.sprite.slide-nav-left {
    background-image: url(../elements/sprites-slide-nav.png);
    background-position: left top;
    width: 22px;
    height: 45px;
}

.sprite.slide-nav-right {
    background-image: url(../elements/sprites-slide-nav.png);
    background-position: right top;
    width: 22px;
    height: 45px;
}