@media (max-width: 1140px) {
    .site-footer .brands .logo {
        width: 20%;
    }
}

@media (max-width: 1040px) {
    #booking-form .table-cell-header {
        display: none;
    }
}

@media (max-width: 960px) {
    #page {
        margin-top: 0;
    }
    
    .top-bar {
        position: absolute;
        top: 24px;
        right: 15px;
    }
    
    .top-bar .menu > span {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #ccc;
    }
    
    .top-bar #newsletter {
        display: none;
    }
    
    /* Sidebar */
    .sidebar-left .col-content,
    .sidebar-left .col-sidebar {
        width: 100%;
    }
    
    .sidebar-left .row .col-content {
        left: 0;
    }
    
    .sidebar-left .row .col-sidebar {
        left: 0;
    }
    
    .sidebar {
        width: auto;
        max-width: inherit;
        margin-left: -10px;
        margin-right: -10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    
    .sidebar .aside {
        width: 25%;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 768px) {
    .site-header {
        height: auto;
    }
    
    .top-bar #site-hotel {
        display: none;
    }
    
    .site-main:before,
    .site-main:after {
        content: none;
    }
    
    .site-main > .inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    /* Sidebar */
    .sidebar .aside {
        width: 33.33%;
    }
    
    /* Mobile Site Navigation */
    .m-site-navigation {
        display: block;
        background-color: #1A355E;
    }
    
    .m-site-navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .m-site-navigation ul:after {
        content: '';
        display: block;
        clear: both;
    }
    
    .m-site-navigation a {
        color: #fff;
        display: block;
        border: 1px solid transparent;
        line-height: 32px;
        padding: 0 15px;
    }
    
    .m-site-navigation a:after {
        content: '\f105';
        font-family: 'FontAwesome';
        float: right;
    }
    
    .m-site-navigation ul.menu {
        margin: 0 -15px;
    }
    
    .m-site-navigation .has-toggle-sub-menu > a:after {
        content: '\f0d7';
    }
    
    .m-site-navigation .has-toggle-sub-menu.visible > a {
        background-color: rgba(255,255,255,.1);
    }
    
    .m-site-navigation .has-toggle-sub-menu.visible > ul.sub-menu {
        display: block;
    }
    
    .m-site-navigation ul.sub-menu {
        display: none;
        background-color: #222;
    }
    
    .m-site-navigation li.current > a {
        background-color: rgba(255,255,255,.1);
    }
    
    /* Offside Menu */
    .offside-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,.95);
        z-index: 9999;
        padding: 20px;
        overflow: auto;
    }
    
    .offside-menu h2 {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
    
    .offside-menu ul {
        list-style: none;
        margin: 0 0 24px;
        padding-left: 0;
    }
    
    .offside-menu li {
        border-bottom: 1px solid #ccc;
    }
    
    .offside-menu li a {
        display: block;
        line-height: 2.5;
        -webkit-transition: 200ms;
        transition: 200ms;
    }
    
    .offside-menu li a:after {
        content: '\f105';
        font-family: 'FontAwesome';
        float: right;
    }
    
    .offside-menu li a:hover {
        background-color: #9A7B12;
        color: #fff;
        padding: 0 10px;
    }
    
    .offside-menu .close {
        display: block;
        width: 56px;
        height: 60px;
        text-align: center;
        color: #444;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 36px;
        opacity: 0.8;
        cursor: pointer;
    }
    
    .offside-menu .close:hover {
        opacity: 1;
    }
	
	.offside-menu.visible {
		visibility: visible;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
	}
    
    html.open-offside-menu {
        overflow: hidden;
    }
    
    /* Booking Form */
    #booking-form .table-cell-adults,
    #booking-form .table-cell-children,
    #booking-form .table-cell-rooms {
        display: none;
    }
    
    /* Special Offers */
    .promotion {
        padding: 15px;
    }
    
    .promotion .col-thumbnail,
    .promotion .col-detail {
        width: 50%;
    }
    
    .promotion .col-booking {
        width: 100%;
        margin-top: 15px;
    }
}

@media (max-width: 720px) {
    /* Hero Slider */
    #home_slider .col-phuket img,
    #home_slider .col-krabi img {
        max-width: inherit;
        max-height: 40%;
        width: auto;
    }
    #home_slider .col-phuket img {
        right: 10%;
    }
    #home_slider .col-krabi img {
        left: 10%;
    }
}

@media (max-width: 640px) {
    /* Booking Form */
    #booking-form .field-code {
        display: none;
    }
    
    /* Footer */
    .site-footer .brands .logo {
        width: 25%;
    }
    
    .site-footer .connect .social,
    .site-footer .connect .contact {
        float: none;
        text-align: center;
    }
    
    .site-footer .colophon .address,
    .site-footer .colophon .license {
        position: static;
        text-align: center;
    }
    
    .site-footer .colophon .license {
        margin-top: 1em;
    }
    
    /* Owl Carousel */
    .owl-carousel.has-nav {
        padding-left: 0;
        padding-right: 0;
    }
    .owl-carousel.has-nav .owl-nav {
        display: none;
    }
}

@media (max-width: 540px) {
    /* Booking Form */
    #booking-form .table-cell-checkin,
    #booking-form .table-cell-checkout {
        display: none;
    }
}

@media (max-width: 480px) {
    /* Sidebar */
    .sidebar .aside {
        width: 50%;
    }
    
    /* Hero Slider */
    #home_slider .col-phuket img,
    #home_slider .col-krabi img {
        left: 0;
        right: 0;
        display: block;
        margin: auto;
    }
    
    /* Special Offers */
    .promotion .col-thumbnail,
    .promotion .col-detail {
        width: 100%;
    }
    
    .promotion .col-detail {
        margin-top: 15px;
    }
    
    /* Footer */
    .site-footer .brands .logo {
        width: 33.33%;
    }
}

@media (max-width: 360px) {
    /* Sidebar */
    .sidebar .aside {
        width: 100%;
    }
    
    /* Footer */
    .site-footer .brands .logo {
        width: 50%;
    }
}

@media (max-height: 600px) {
    /* Hero Slider */
    #home_slider .item {
        height: 100vh;
        max-height: inherit;
    }
}