body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #444;
    line-height: 1.5;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
    font-family: 'Cinzel', sans-serif;
    font-weight: 400;
}

a {
    color: #1A355E;
    text-decoration: none;
    &:hover {
        color: #333;
    }
}

ul, ol {
    padding-left: 20px;
}

dt {
    float: left;
}

dd {
    margin-left: 100px;
    margin-bottom: 5px;
}

img {
    &.block {
        display: block;
    }
    &.responsive {
        max-width: 100%;
        height: auto;
    }
    &.force {
        display: block;
        width: 100%;
        height: auto;
    }
    &.align-left {
        float: left;
        margin-right: 1em;
        margin-bottom: 5px;
    }
}

table {
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    margin: 1em auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px 10px;
}

th {
    font-weight: 300;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1070px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.mobile {
    display: none;
}

html {
    &.preload *, &.resizing * {
        -webkit-transition: none !important;
        transition: none !important;
    }
    &.disable-scroll {
        overflow: hidden;
    }
}

.clickable {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.list-heading {
    margin-bottom: 0;
    + {
        ul, ol {
            margin-top: 3px;
        }
    }
}

.list-description .label {
    display: inline-block;
    width: 80px;
    vertical-align: top;
}

/* Layout */

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    > [class*="col-"] {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }
}

.col-w1 {
    width: 8.3333%;
}

.col-w2 {
    width: 16.6666%;
}

.col-w3 {
    width: 25%;
}

.col-w4 {
    width: 33.3333%;
}

.col-w5 {
    width: 41.6666%;
}

.col-w6 {
    width: 50%;
}

.col-w7 {
    width: 58.3333%;
}

.col-w8 {
    width: 66.6666%;
}

.col-w9 {
    width: 75%;
}

.col-w10 {
    width: 83.3333%;
}

.col-w11 {
    width: 91.6666%;
}

.col-w12 {
    width: 100%;
}

.row.nopadding {
    margin-left: 0;
    margin-right: 0;
    > [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.list-columns-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    li {
        list-style-position: inside;
    }
}

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    height: 100%;
    vertical-align: top;
}

/* Fonts */

.font-roboto {
    font-family: "Roboto", sans-serif;
}

.font-roboto-condensed {
    font-family: "Roboto Condensed", sans-serif;
}

.font-opensans-condensed {
    font-family: "Open Sans Condensed", sans-serif;
}

.font-cinzel {
    font-family: "Cinzel", sans-serif;
}

/* Form */

.form {
    .form-group {
        display: block;
        margin-bottom: 10px;
    }
    .field {
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    .field-required .label:after {
        content: '*';
        color: darkred;
    }
    .input-text, .input-select {
        width: 100%;
        display: inline-block;
        font-size: 12px;
        line-height: 28px;
        height: 28px;
        padding: 0 6px;
        border: 0;
    }
    .input-textarea {
        width: 100%;
        display: inline-block;
        font-size: 12px;
        line-height: 28px;
        height: 28px;
        padding: 0 6px;
        border: 0;
        height: inherit;
        line-height: inherit;
        padding: 6px;
    }
    .button {
        display: inline-block;
        font-size: 12px;
        line-height: 27px;
        height: 28px;
        padding: 0 15px 1px;
        border: 1px solid #000;
        background-color: #666;
        color: #fff;
    }
}

/* Button */

.button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.luxury-style {
        max-width: 100%;
        position: relative;
        display: inline-block;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
        background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
        background-image: linear-gradient(to bottom, #fff, #f5f5f5);
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 16px;
        line-height: 1;
        height: 54px;
        padding-top: 11px;
        padding-left: 50px;
        padding-right: 80px;
        color: #888;
        border-radius: 2px;
        overflow: hidden;
        text-shadow: 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        &:after {
            content: '\f105';
            font-family: 'FontAwesome';
            font-size: 24px;
            color: #333;
            line-height: 50px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 30px;
            text-align: center;
            background: #f1f1f1;
        }
        &:hover:after {
            background-color: #f5f5f5;
            text-shadow: none;
        }
        &:active {
            top: 1px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}

/* Pattern */

[class*="pattern-"] {
    background-position: center;
    background-repeat: repeat;
}

.pattern-fibers {
    background-image: url(../elements/paper_fibers.png);
    background-size: 410px 410px;
}

/* Decorate */

.deco-underline {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    &:after {
        content: '';
        width: 80px;
        height: 1px;
        background-color: #000;
        position: absolute;
        bottom: -12%;
        left: 50%;
        margin-left: -40px;
        z-index: 1;
    }
    &.style-left {
        text-align: left;
        &:after {
            left: 0;
            margin-left: 0;
        }
    }
}

.deco-map {
    position: relative;
    left: 80px;
    &:before {
        content: '';
        position: absolute;
        top: -18px;
        left: -160px;
        width: 160px;
        height: 78px;
        background-image: url(../elements/deco-map.png);
    }
}

/* Header */

.site-header {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    height: 120px;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 120px;
        background-image: url(../elements/bg-header-gradient.png);
        background-position: left top;
        background-repeat: repeat-x;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        z-index: -1;
    }
    a {
        color: #fff;
    }
}

.site-branding, .site-action, .site-navigation {
    position: absolute;
}

.site-branding {
    top: 0;
    left: 15px;
    a {
        display: block;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.75);
        padding: 15px;
        -webkit-transition: 300ms;
        transition: 300ms;
    }
    .logo {
        display: block;
        width: 190px;
        height: auto;
        &.mobile {
            display: none;
        }
    }
}

.site-action {
    top: 28px;
    right: 15px;
    .group-home, .social, .language {
        display: inline-block;
        margin-left: 15px;
        vertical-align: top;
    }
    .group-home a {
        display: block;
        line-height: 30px;
    }
}

/* Group home */

.icon-home {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-image: url(../elements/icon-home.png);
}

/* Social */

.site-action .social {
    font-size: 18px;
    a {
        display: inline-block;
        width: 22px;
        line-height: 30px;
        text-align: center;
        font-weight: normal;
        &.facebook:hover {
            color: #3B5A97;
        }
        &.youtube:hover {
            color: #CB3133;
        }
        &.instagram:hover {
            color: #59481F;
        }
        &.tripadvisor:hover {
            color: #4B7E37;
        }
    }
}

/* Language Select */

#language_select {
    position: relative;
    color: #fff;
    border: 1px solid #fff;
    line-height: 28px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .active {
        display: block;
        padding-left: 10px;
        padding-right: 24px;
        &:after {
            content: '\f0d7';
            font-family: 'FontAwesome';
            position: absolute;
            top: 0;
            right: 9px;
        }
    }
    .options {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        left: -1px;
        right: -1px;
        background-color: #fff;
        min-width: 100%;
    }
    .option {
        a {
            display: block;
            color: #666;
            padding-left: 6px;
            padding-right: 6px;
        }
        &:hover a {
            background-color: #4B9ED9;
            color: #fff;
        }
    }
    &.visible {
        .active {
            background-color: #fff;
            color: #666;
        }
        .options {
            display: block;
            z-index: 9999;
        }
    }
    .disabled {
        display: none;
    }
}

/* =Site Navigation
-------------------------------------------------------------------- */

.site-navigation {
    top: 65px;
    right: 5px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 28px;
        white-space: nowrap;
        text-transform: uppercase;
    }
    li.has-sub-menu {
        position: relative;
        > a:after {
            content: '\f107';
            font-family: 'FontAwesome';
            margin-left: 4px;
            line-height: 1;
        }
        &.visible > ul.sub-menu {
            display: block;
        }
    }
    ul.sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 2px;
        padding: 4px 0;
        min-width: 100%;
        font-size: 12px;
        > li {
            display: block;
            > a {
                display: block;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}

/* Offcanvas Menu */

.offside-menu-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 100000;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: 300ms;
    transition: 300ms;
    /* Fixed bottom space on some mobile browser*/
    -webkit-box-shadow: 0 60px 0 #000;
    box-shadow: 0 60px 0 #000;
}

#offside-menu {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 100px 0 #fff;
    box-shadow: 0 100px 0 #fff;
    max-width: 80%;
    min-width: 240px;
    width: 300px;
    height: 100%;
    font-size: 14px;
    z-index: 100000;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 300ms;
    transition: 300ms;
    .inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        padding-bottom: 3em;
    }
    .header {
        display: block;
        background-color: #ddd;
        padding: 10px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        display: block;
        padding: 10px;
        color: #666;
    }
    .menu {
        a {
            &:hover, &:active {
                background-color: #eee;
            }
        }
        li.current > a {
            background-color: #eee;
        }
        > li {
            border-bottom: 1px solid #eee;
        }
    }
    .has-sub-menu > a {
        position: relative;
        &:after {
            content: '\f107';
            font-family: 'FontAwesome';
            position: absolute;
            line-height: 1;
            top: 50%;
            right: 12px;
            margin-top: -0.5em;
        }
    }
    .sub-menu {
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        > li > a {
            margin-left: -10px;
            padding-left: 20px;
        }
    }
    .has-sub-menu.visible .sub-menu {
        display: block;
    }
    .sub-menu {
        display: none;
    }
}

.toggle-menu-button {
    display: none;
    border: 1px solid #fff;
    background-color: #fff;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#offside-menu .close-menu {
    display: none;
    position: absolute;
    top: 5px;
    right: -36px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    .bar {
        position: absolute;
        width: 32px;
        height: 3px;
        background-color: #fff;
        top: 50%;
        margin-top: -1.5px;
        -webkit-transform-origin: 50%;
        -ms-transform-origin: 50%;
        transform-origin: 50%;
    }
    .bar-1 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .bar-2 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

html.open-offside-menu {
    overflow-y: hidden;
    #offside-menu {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        .close-menu {
            display: block;
        }
    }
    .offside-menu-bg {
        visibility: visible;
        opacity: 0.6;
    }
}

/* =Header Mini
-------------------------------------------------------------------- */

.site-header {
    -webkit-transition: 300ms;
    transition: 300ms;
    &:after {
        -webkit-transition: 300ms;
        transition: 300ms;
    }
    .site-branding {
        -webkit-transition: 300ms;
        transition: 300ms;
        .logo {
            -webkit-transition: 300ms;
            transition: 300ms;
        }
    }
    .site-action, .site-navigation {
        -webkit-transition: 300ms;
        transition: 300ms;
    }
    &.mini {
        background: #222;
        height: 60px;
        &:after {
            top: -47px;
        }
        .site-branding {
            a {
                padding-top: 6px;
                padding-bottom: 5px;
            }
            .logo {
                width: 110px;
            }
        }
        .site-action {
            top: -19px;
            opacity: 0;
            visibility: hidden;
        }
        .site-navigation {
            top: 18px;
            ul.sub-menu {
                top: 42px;
                background-color: rgba(0, 0, 0, 0.85);
            }
        }
    }
}

.m-topbar {
    display: none;
}

/* =Main
-------------------------------------------------------------------- */

.site-main.no-head {
    padding-top: 200px;
}

.page-cover {
    position: relative;
}

.owl-carousel.hero-slider .owl-nav {
    margin-top: 20px;
    left: 10px;
    right: 10px;
}

.custom-hero-slide-nav {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 0;
    z-index: 5;
    margin-top: -25px;
    .owl-prev {
        float: left;
    }
    .owl-next {
        float: right;
    }
    &.disabled {
        display: none;
    }
}

/* =Sidebar
-------------------------------------------------------------------- */

.site-content.sidebar-left {
    position: relative;
    .col-content {
        position: relative;
        left: 33.3333%;
    }
    .col-sidebar {
        position: relative;
        right: 66.6666%;
    }
}

.sidebar .aside {
    margin-bottom: 30px;
    max-width: 260px;
    .title {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
    }
}

/* =Footer
-------------------------------------------------------------------- */

.site-footer {
    .brands {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 0;
        .logo {
            display: inline-block;
            vertical-align: middle;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            -webkit-filter: grayscale(100%) opacity(60%);
            filter: grayscale(100%) opacity(60%);
            -webkit-transition: 200ms;
            transition: 200ms;
            &:hover {
                -webkit-filter: grayscale(0%) opacity(100%);
                filter: grayscale(0%) opacity(100%);
            }
        }
    }
    .connect {
        background-color: #080808;
        color: #fff;
        min-height: 40px;
        line-height: 40px;
        a {
            color: #fff;
        }
    }
    .social {
        span {
            margin-left: 3px;
        }
        a {
            border-radius: 50%;
            line-height: 28px;
            width: 28px;
            display: inline-block;
            text-align: center;
            &:hover {
                opacity: 0.9;
            }
        }
        .facebook a {
            background-color: #3B5A97;
        }
        .googleplus a {
            background-color: #CF463B;
        }
        .youtube a {
            background-color: #C9312F;
        }
        .twitter a {
            background-color: #41ABDD;
        }
        .instagram a {
            background-color: #6B4D08;
        }
        .tripadvisor a {
            background-color: #4B7E37;
        }
    }
    .contact a {
        padding: 0 10px;
        display: inline-block;
        &:hover {
            background-color: #333;
        }
    }
    .colophon {
        background-color: #707270;
        font-size: 11px;
        color: #fff;
        padding-top: 12px;
        padding-bottom: 12px;
        a {
            color: #fff;
            &:hover {
                border-bottom: 1px dotted #fff;
            }
        }
        .address-info {
            font-style: normal;
        }
        .license {
            position: absolute;
            right: 15px;
            bottom: 0;
        }
    }
}

/* Room */

body.room .site-footer {
    display: none;
}

/* Room Slider */

.room-slides-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.room-slides img {
    display: block;
}

/* Room Slider Navigation */

.room-slides-thumbs {
    width: 100%;
    height: 70px;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
    max-width: 1070px;
    margin: auto;
    padding: 10px 15px;
    color: #fff;
    z-index: 5;
    .title {
        font-size: 24px;
        float: left;
        margin-right: 15px;
        span {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            display: block;
            opacity: 0.5;
        }
    }
    .toggle {
        position: absolute;
        top: -24px;
        right: 0;
        width: 40px;
        line-height: 24px;
        text-align: center;
        background-color: #111;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3px 3px 0 0;
        &:hover {
            opacity: 0.8;
        }
    }
    .thumbs {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            overflow-x: auto;
        }
        li {
            display: inline-block;
            cursor: pointer;
            background-color: #fff;
        }
        img {
            display: block;
            -webkit-transition: opacity 200ms;
            transition: opacity 200ms;
        }
        li.current img {
            opacity: 0.8;
        }
    }
}

/* Room Information */

.room-info {
    display: block;
    width: 100%;
    max-width: 1070px;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 13px;
    z-index: 2;
    .row {
        margin-left: -5px;
        margin-right: -5px;
        [class*="col-"] {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    .table {
        width: 100%;
        height: 100%;
    }
    .content {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.9);
        width: 75%;
        padding: 25px;
        border-radius: 4px 0 0 4px;
        .title {
            margin-bottom: 10px;
        }
        .room-preview {
            margin-top: 3px;
        }
    }
    .book-this-room-button {
        background-color: #707270;
        color: #fff;
        border-radius: 3px;
        width: 100%;
        display: inline-block;
        margin-top: 15px;
        font-size: 12px;
        padding: 6px 20px 6px 10px;
        position: relative;
        &:after {
            content: '\f105';
            font-family: 'FontAwesome';
            float: right;
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -6px;
            line-height: 1;
        }
        &:hover {
            opacity: 0.8;
        }
        &.mobile {
            display: none;
        }
    }
    .content p {
        margin: 0 0 1em;
    }
    .amenities {
        position: relative;
        .shad-over {
            background-color: #707270;
            padding: 15px;
            border-radius: 3px;
            color: #fff;
            position: relative;
            z-index: 2;
        }
        .shad-left {
            &:before, &:after {
                content: '';
                position: absolute;
                z-index: 1;
                width: 35%;
                height: 10px;
                -webkit-box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.3);
            }
        }
        .shad-right {
            &:before, &:after {
                content: '';
                position: absolute;
                z-index: 1;
                width: 35%;
                height: 10px;
                -webkit-box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.3);
                box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.3);
            }
        }
        .shad-left {
            &:before {
                top: 17px;
                left: 16px;
                -webkit-transform: rotate(87deg);
                -ms-transform: rotate(87deg);
                transform: rotate(87deg);
                -webkit-transform-origin: top left;
                -ms-transform-origin: top left;
                transform-origin: top left;
            }
            &:after {
                bottom: 17px;
                left: 16px;
                -webkit-transform: rotate(-87deg);
                -ms-transform: rotate(-87deg);
                transform: rotate(-87deg);
                -webkit-transform-origin: bottom left;
                -ms-transform-origin: bottom left;
                transform-origin: bottom left;
            }
        }
        .shad-right {
            &:before {
                top: 17px;
                right: 16px;
                -webkit-transform: rotate(-87deg);
                -ms-transform: rotate(-87deg);
                transform: rotate(-87deg);
                -webkit-transform-origin: top right;
                -ms-transform-origin: top right;
                transform-origin: top right;
            }
            &:after {
                bottom: 17px;
                right: 16px;
                -webkit-transform: rotate(87deg);
                -ms-transform: rotate(87deg);
                transform: rotate(87deg);
                -webkit-transform-origin: bottom right;
                -ms-transform-origin: bottom right;
                transform-origin: bottom right;
            }
        }
        .title {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
    }
    .amenities-list {
        list-style: none;
        margin: 1em 0 0;
        padding-left: 20px;
        li {
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                background-color: #748e6a;
                position: absolute;
                top: 0.65em;
                left: -12px;
            }
            &.more {
                &:before {
                    content: none;
                }
                a {
                    color: #89b53c;
                }
            }
        }
    }
}

#all_amenities {
    max-width: 600px;
    margin: auto;
    position: relative;
    color: #fff;
    h2 {
        border-bottom: 1px solid #fff;
        line-height: 40px;
    }
    ul {
        list-style: none;
        padding-left: 20px;
    }
    li {
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            background-color: #fff;
            position: absolute;
            top: 0.65em;
            left: -12px;
        }
    }
    .mfp-close {
        color: #fff;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }
}

/* Room Booking */

.room-info .booking {
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.9);
    width: 25%;
    padding: 15px;
    border-radius: 0 0 4px 0;
    color: #fefefe;
    .title {
        font: 300 24px 'Roboto', sans-serif;
        margin-bottom: 5px;
    }
    .field {
        margin-bottom: 10px;
    }
    .input-text {
        background-color: transparent;
        border: 1px solid #fefefe;
        border-radius: 3px;
    }
    .input-select {
        background-color: transparent;
        border: 1px solid #fefefe;
        border-radius: 3px;
        background-image: url(../elements/dropdown_arrow-green.png);
        background-position: right center;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand {
            display: none;
        }
        option {
            background-color: #fff;
            color: #222;
        }
    }
    .input-text:focus, .input-select:focus {
        border-color: #89b53c;
    }
    #checkin, #checkout {
        background-image: url(../elements/cal-green.png);
        background-position: right center;
        background-repeat: no-repeat;
    }
    p.note {
        font-size: 12px;
        color: #89b53c;
        line-height: 1.2;
    }
}

#room-booking-form #submit {
    width: 100%;
    background-color: #89b53c;
    border-radius: 3px;
    height: auto;
    &:hover {
        background-color: #9BC44E;
    }
}

#newsletter-form {
    #submit {
        border: 1px solid #fefefe;
        border-radius: 3px;
        background-color: transparent;
        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            background-color: #fefefe;
            color: #222;
        }
    }
    + .form-error-log a {
        color: #fff;
        text-decoration: underline;
    }
}

.room-info {
    .close {
        position: absolute;
        top: -28px;
        right: 0;
        color: #fff;
        line-height: 28px;
        padding: 0 10px;
        background-color: #111;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 4px 4px 0 0;
        &:hover {
            opacity: 0.8;
        }
    }
    -webkit-transition: 300ms;
    transition: 300ms;
}

/* Hide content action */

.room-slides-thumbs {
    -webkit-transition: 300ms;
    transition: 300ms;
    .toggle .icon {
        -webkit-transition: 300ms;
        transition: 300ms;
    }
}

html.hide-content {
    .room-slides-thumbs {
        bottom: 0;
    }
    .room-info {
        visibility: hidden;
        opacity: 0;
        top: 52%;
    }
    .room-slides-thumbs .toggle .icon {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}

/* Booking Bar */

.booking-bar {
    background-color: transparent;
    height: 75px;
    position: relative;
    z-index: 5;
    .inner {
        background-color: #707270;
        height: 75px;
        text-align: center;
    }
    &.fixed .inner {
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
    }
}

#booking-form {
    display: table;
    width: 100%;
    .field {
        display: table-cell;
        vertical-align: middle;
        height: 75px;
        padding: 0 5px;
    }
    .label {
        color: #fff;
        font-size: 12px;
        display: block;
        position: absolute;
        top: 8px;
        line-height: 1;
    }
    .input-select {
        min-width: 70px;
        padding-right: 24px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background-image: url(../elements/dropdown_arrow.png);
        background-position: right 55%;
        background-repeat: no-repeat;
        &::-ms-expand {
            display: none;
        }
    }
    .field-hotel {
        max-width: 130px;
    }
    .field-checkin, .field-checkout {
        max-width: 120px;
    }
    .field-code {
        max-width: 100px;
    }
    .field-error {
        position: relative;
        &[data-error-msg]:after {
            content: attr(data-error-msg);
            position: absolute;
            display: block;
            font-size: 11px;
            color: darkred;
            margin-top: 2px;
        }
        .error {
            background-color: darkred;
            color: #fff;
        }
    }
    #checkin, #checkout {
        background-image: url(../elements/icon-calendar.png);
        background-position: right center;
        background-repeat: no-repeat;
        padding-right: 30px;
    }
    #submit {
        background-color: #333;
        color: #fff;
        border: 0;
        border-radius: 2px;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        padding: 0;
        min-width: 100px;
        -webkit-transition: 200ms;
        transition: 200ms;
        &:hover {
            background-color: #444;
        }
    }
}

/* Owl Carousel */

.owl-carousel {
    &.has-nav {
        padding-left: 50px;
        padding-right: 50px;
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -22.5px;
        height: 0;
    }
    &.force-nav .owl-nav.disabled {
        display: block;
    }
    .owl-next {
        float: right;
    }
    .owl-prev {
        float: left;
    }
}

.fx-scale .owl-item {
    .item {
        -webkit-transform: scale(0.85) translateZ(0);
        transform: scale(0.85) translateZ(0);
        -webkit-transition: 300ms;
        transition: 300ms;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    &.center .item {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

/* Magnific Popup */

.mfp-fade {
    &.mfp-bg {
        opacity: 0;
        -webkit-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        &.mfp-ready {
            opacity: 0.8;
        }
        &.mfp-removing {
            opacity: 0;
        }
    }
    &.mfp-wrap {
        .mfp-content, .mfp-arrow {
            opacity: 0;
            -webkit-transition: all 0.15s ease-out;
            transition: all 0.15s ease-out;
        }
        &.mfp-ready {
            .mfp-content, .mfp-arrow {
                opacity: 1;
            }
        }
        &.mfp-removing {
            .mfp-content, .mfp-arrow {
                opacity: 0;
            }
        }
    }
}

/**
 * Social Side Sticky
 */
#social_side {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 20;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
    }
    a {
        display: block;
        width: 32px;
        text-align: center;
        padding: 4px 0;
        transition: 350ms;
        &:hover,
        &:active {
            background-color: #eee;
            transition-duration: 0ms;
            [class*="sprite-social-"] {
                filter: brightness(1.2);
                transition-duration: 0ms;
            }
        }
        [class*="sprite-social-"] {
            display: block;
            margin: auto;
            transition: 350ms;
        }
    }
}