html {
	font-size: 14px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color: #444;
	line-height: 1.5;
	min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.2;
	font-family: 'Cinzel', sans-serif;
	font-weight: 400;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-width: 1px 0 0;
	border-style: dotted;
	border-color: #ccc;
	height: 0;
	display: block;
}

a {
	color: #1A355E;
	text-decoration: none;
	&:hover {
		color: #333;
	}
}

ul, ol {
	padding-left: 20px;
}

dt {
	float: left;
}

dd {
	margin-left: 100px;
	margin-bottom: 5px;
}

img {
	max-width: 100%;
	height: auto;
	&.block {
		display: block;
	}
	&.force {
		display: block;
		width: 100%;
	}
	&.align-left {
		float: left;
		margin-right: 1em;
		margin-bottom: 5px;
	}
}

table {
	font-size: 12px;
	text-align: center;
	font-weight: 300;
	margin: 1em auto;
}

th, td {
	border: 1px solid #ccc;
	padding: 6px 10px;
}

th {
	font-weight: 300;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.mobile {
	display: none;
}

html {
	&.preload *, &.resizing * {
		-webkit-transition: none !important;
		transition: none !important;
	}
	&.disable-scroll {
		overflow: hidden;
	}
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Layout */

.row {
	margin-left: -10px;
	margin-right: -10px;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	> [class*="col-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
	}
}

.col-w1 {
	width: 8.3333%;
}

.col-w2 {
	width: 16.6666%;
}

.col-w3 {
	width: 25%;
}

.col-w4 {
	width: 33.3333%;
}

.col-w5 {
	width: 41.6666%;
}

.col-w6 {
	width: 50%;
}

.col-w7 {
	width: 58.3333%;
}

.col-w8 {
	width: 66.6666%;
}

.col-w9 {
	width: 75%;
}

.col-w10 {
	width: 83.3333%;
}

.col-w11 {
	width: 91.6666%;
}

.col-w12 {
	width: 100%;
}

.row.nopadding {
	margin-left: 0;
	margin-right: 0;
	> [class*="col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}

.list-columns-2 {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	li {
		list-style-position: inside;
	}
}

.table {
	display: table;
}

.table-cell {
	display: table-cell;
	height: 100%;
	vertical-align: top;
}

/* Fonts */

.font-roboto {
	font-family: "Roboto", sans-serif;
}

.font-roboto-condensed {
	font-family: "Roboto Condensed", sans-serif;
}

.font-opensans-condensed {
	font-family: "Open Sans Condensed", sans-serif;
}

.font-cinzel {
	font-family: "Cinzel", sans-serif;
}

/* Form */

.form {
	.form-group {
		display: block;
		margin-bottom: 10px;
	}
	.field {
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
	.field-required .label:after {
		content: '*';
		color: darkred;
	}
	.input-text, .input-select {
		width: 100%;
		display: inline-block;
		font-size: 12px;
		line-height: 28px;
		height: 28px;
		padding: 0 6px;
		border: 0;
		border-radius: 0.25rem;
	}
	.input-textarea {
		width: 100%;
		display: inline-block;
		font-size: 12px;
		line-height: 28px;
		height: 28px;
		padding: 0 6px;
		border: 0;
		height: inherit;
		line-height: inherit;
		padding: 6px;
	}
	.button {
		display: inline-block;
		font-size: 12px;
		line-height: 27px;
		height: 28px;
		padding: 0 15px 1px;
		border: 1px solid #000;
		background-color: #666;
		color: #fff;
	}
}

/* Button */

.button {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&.luxury-style {
		max-width: 100%;
		position: relative;
		display: inline-block;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
		background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
		background-image: linear-gradient(to bottom, #fff, #f5f5f5);
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 16px;
		line-height: 1;
		height: 54px;
		padding-top: 11px;
		padding-left: 50px;
		padding-right: 80px;
		color: #888;
		border-radius: 2px;
		overflow: hidden;
		text-shadow: 0 1px 0 #fff;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
		&:after {
			content: '\f105';
			font-family: 'FontAwesome';
			font-size: 24px;
			color: #333;
			line-height: 50px;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 30px;
			text-align: center;
			background: #f1f1f1;
		}
		&:hover:after {
			background-color: #f5f5f5;
			text-shadow: none;
		}
		&:active {
			top: 1px;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
}

/* Pattern */

[class*="pattern-"] {
	background-position: center;
	background-repeat: repeat;
}

.pattern-fibers {
	background-image: url(../elements/paper_fibers.png);
	background-size: 410px 410px;
}

/* Decorate */

.deco-underline {
	position: relative;
	margin-bottom: 40px;
	text-align: center;
	&:after {
		content: '';
		width: 80px;
		height: 1px;
		background-color: #000;
		position: absolute;
		bottom: -12%;
		left: 50%;
		margin-left: -40px;
		z-index: 1;
	}
	&.style-left {
		text-align: left;
		&:after {
			left: 0;
			margin-left: 0;
		}
	}
}

.deco-map {
	position: relative;
	left: 80px;
	&:before {
		content: '';
		position: absolute;
		top: -18px;
		left: -160px;
		width: 160px;
		height: 78px;
		background-image: url(../elements/deco-map.png);
	}
}

/**
 * Header
 */
.site-header {
    background-color: #fff;
    position: relative;
    z-index: 10;
    > .container {
        height: 100%;
    }
    .btn-menu {
        display: block;
        text-align: center;
        line-height: 48px;
        width: 48px;
        position: absolute;
        top: 20px;
        left: 15px;
        color: #333;
    }
    .btn-home {
        @extend .btn-menu;
        left: auto;
        right: 15px;
    }
    @media (min-width: 768px) {
        height: 135px;
        .btn-menu,
        .btn-home {
            display: none;
        }
    }
    @media (min-width: 1200px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
}

.site-branding {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    a, img {
        display: block;
    }
    img {
        backface-visibility: hidden;
    }
    @media (min-width: 768px) {
        display: inline-block;
        padding-top: 18px;
        padding-bottom: 0;
    }
}

/**
 * Navigation
 */
.site-navigation {
    display: none;
    background-color: #eee;
    padding-left: 15px;
    padding-right: 15px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    > ul {
        display: flex;
        margin: 0 -0.5rem;
    }
    a {
        display: block;
        padding: 0.5rem;
    }
    li.has-sub-menu {
        position: relative;
        & > a::after {
            content: '\f107';
            font-family: 'FontAwesome';
            margin-left: 4px;
            line-height: 1;
        }
        &:hover,
        &:active {
            > ul.sub-menu {
                visibility: visible;
                opacity: 1;
                transform: translate(0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
    ul.sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 350ms;
        background-color: #fff;
        transform: translate(0, 10px);
        transform: translate3d(0, 10px, 0);
        box-shadow: 0 0 8px rgba(0,0,0,.1);
        a {
            white-space: nowrap;
            transition: 350ms;
            &:hover,
            &:active {
                background-color: #1A355E;
                color: #fff;
                transition: 0ms;
            }
        }

        li.has-sub-menu > a::after {
            content: '\f105';
            position: absolute;
            right: 0.5rem;
            line-height: inherit;
        }
        ul.sub-menu {
            left: 100%;
            top: 0;
        }
    }
    @media (min-width: 768px) {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    @media (min-width: 1200px) {
        position: absolute;
        top: 48px;
        left: 175px;
        right: 265px;
        background: none;
        > ul {
            justify-content: center;
        }
    }
}

/* =Header Mini
-------------------------------------------------------------------- */
.site-header,
.site-branding,
.site-branding .logo,
.site-navigation,
.site-topbar,
#member {
    transition: 150ms;
}

.site-header.mini {
    height: 60px;
    .site-branding {
        padding-top: 10px;
        .logo {
            width: 119px;
        }
    }
    .site-navigation {
        left: 145px;
        top: 15px;
    }
    .site-topbar {
        transform: translate(0, -24px);
        transform: translate3d(0, -24px, 0);
    }
    #member {
        top: 6px;
    }
}

/**
 * Side Panel
 */
.side-panel {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    height: 100vh;
    z-index: 99;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: auto;
    transform: translate(-100%, 0);
    transform: translate3d(-100%, 0, 0);
    transition: transform 350ms;
    will-change: transform;
    ul {
        list-style: none;
        margin: 0.5rem 0;
        padding: 0;
    }
    ul.list-menu {
        a {
            display: block;
            padding: 0.5rem 15px;
            &:active,
            &:hover {
                background-color: #f5f5f5;
            }
        }
        li.current > a {
            background-color: #1f4680;
            color: #fff;
        }
    }
    ul.sub-menu {
        margin: 0;
        background-color: #fafafa;
        display: block;
        a, .label {
            font-size: 0.9rem;
            padding: 0.3rem 15px 0.25rem 30px;
        }
        .label {
            background-color: #f2f2f2;
            color: #666;
            line-height: 1;
            & ~ .label {
                margin-top: 0.5rem;
            }
        }
    }

    .divider {
        display: block;
        width: auto;
        height: 1px;
        background-color: #eee;
    }

    .languages {
        padding: 1rem 15px;
        h3 {
            font-size: smaller;
        }
        li {
            display: inline-block;
        }
        a {
            &:hover,
            &:active {
                border-bottom: 1px solid currentColor;
            }
        }
    }

    &-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        background-color: #000;
        z-index: 99;
        transition-property: opacity, visibility;
        transition-duration: 350ms;
        cursor: pointer;
    }

    &-drag {
        position: fixed;
        top: 0;
        left: 0;
        width: 15px;
        height: 100%;
        height: 100vh;
        background: none;
        z-index: 99;
    }
}

body.side-panel-show {
    overflow: hidden;
    .side-panel {
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        &-bg {
            opacity: 0.65;
            visibility: visible;
        }
    }
}

/**
 * Topbar
 */
.site-topbar {
    display: none;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    font-size: 0.85rem;
    height: 24px;
    padding-top: 3px;
    padding-right: 15px;
    cursor: default;
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1200px) {
        right: 15px;
    }
    &::before {
        content: '';
        background-color: #eee;
        position: absolute;
        top: 0;
        left: -24px;
        width: 24px;
        height: 24px;
        border-bottom-left-radius: 75%;
    }
    > ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            & + li {
                margin-left: 0.5rem;
            }
        }
    }
    a {
        color: #333;
        &:hover,
        &:active {
            color: #1F4680;
        }
    }
}

/**
 * Language Selector
 */
#lang_select {
    position: relative;
    .list-lang {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        transition: 350ms 250ms;
        font-size: 1rem;
        filter: drop-shadow(0 0 3px rgba(0,0,0,.2));
        a {
            display: block;
            white-space: nowrap;
            padding: 0.25rem 0.75rem;
            color: #333;
            &:hover,
            &:active {
                background-color: #1F4680;
                color: #fff;
            }
            .flag {
                vertical-align: -0.25em;
            }
        }
    }
    &:hover,
    &:active {
        .display {
            color: #1F4680;
        }
        .list-lang {
            opacity: 1;
            visibility: visible;
            transition-delay: 0ms;
        }
    }
}

/**
 * Member
 */
#member {
    position: relative;
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: 768px) {
        position: absolute;
        top: 38px;
        right: 15px;
        width: 230px;
        margin: 0;
    }
    .title {
        font-size: 1em;
        line-height: 1.2;
    }
    .description {
        font-size: 0.75em;
        line-height: 1.2;
    }
    .icon-discount {
        position: absolute;
        top: 0.65em;
        left: 9px;
    }
    .member-panel-trigger,
    .member-account {
        display: none;
        position: relative;
        padding: 0.7em 0.25em 0.5em calc(0.25em + 34px);
        color: #FFF;
        text-decoration: none;
        height: 48px;
        transition: 350ms;
        @media (min-width: 768px) {
            border-radius: 0.25rem;
        }
    }
    .member-panel-trigger {
        background-color: #1A355E;
        cursor: pointer;
        .description {
            color: lighten(#1A355E, 46);
        }
        &:hover,
        &:active {
            background-color: darken(#1A355E, 3);
        }
    }
    .member-account {
        background-color: #9A7B12;
        cursor: default;
        .description {
            color: lighten(#9A7B12, 46);
        }
    }
    .member-panel {
        display: none;
        background-color: #1A355E;
        background-color: darken(#1A355E, 7);
        padding: 12px;
        color: #FFF;
        @media (min-width: 768px) {
            border-radius: 0.25em;
        }
        .form-group {
            margin-bottom: 10px;
        }
        input[name="email"] {
            background-color: transparent;
            width: 100%;
            background: none;
            padding: 0.5rem 0.75rem;
            border: 1px solid #fff;
            border-radius: 0.25rem;
            color: #FFF;
            &:valid {
                box-shadow: 0 0 0 2px green;
            }
            &::-webkit-input-placeholder {
                color: #FFF;
            }
            &::-moz-placeholder {
                color: #FFF;
            }
            &:-moz-placeholder {
                color: #FFF;
            }
            &:-ms-input-placeholder {
                color: #FFF;
            }
        }
        .btn {
            padding: 0.5rem 0.75rem;
            border-radius: 0.25rem;
            border: 1px solid #FFF;
            background-color: #FFF;
            cursor: pointer;
            transition: 350ms;
            color: #555;
            &:hover,
            &:active {
                transition: 0ms;
            }
            &-borderless {
                border-color: transparent;
                background-color: transparent;
            }
        }
        .btn-submit {
            &:hover,
            &:active {
                background-color: #78A321;
                border-color: darken(#78A321, 10);
                color: #FFF;
            }
        }
        .btn-close {
            color: #FFF;
            &:hover,
            &:active {
                color: #CCC;
            }
        }
        p {
            line-height: 1.2;
            margin: 0 0 10px;
        }
    }
    .is-member .member-account {
        display: block;
    }
    .is-guest .member-panel-trigger {
        display: block;
    }
}

/* =Main
-------------------------------------------------------------------- */
.site-main {
	&.no-head {
		padding-top: 15px;
	}
	@media (min-width: 1200px) {
		padding-top: 100px;
		&.no-head {
			padding-top: 140px;
		}
	}
}

.page-cover {
	position: relative;
}

.owl-carousel.hero-slider .owl-nav {
	margin-top: 20px;
	left: 10px;
	right: 10px;
}

.custom-hero-slide-nav {
	position: absolute;
	top: 50%;
	left: 10px;
	right: 10px;
	height: 0;
	z-index: 5;
	margin-top: -25px;
	.owl-prev {
		float: left;
	}
	.owl-next {
		float: right;
	}
	&.disabled {
		display: none;
	}
}

/* =Sidebar
-------------------------------------------------------------------- */

.site-content.sidebar-left {
	position: relative;
	.col-content {
		position: relative;
		left: 33.3333%;
	}
	.col-sidebar {
		position: relative;
		right: 66.6666%;
	}
}

.sidebar .aside {
	margin-bottom: 30px;
	max-width: 260px;
	.title {
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 20px;
	}
}

/* =Footer
-------------------------------------------------------------------- */

.site-footer {
	.brands {
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
		font-size: 0;
		.logo {
			display: inline-block;
			vertical-align: middle;
			margin-top: 5px;
			margin-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			-webkit-filter: grayscale(100%) opacity(60%);
			filter: grayscale(100%) opacity(60%);
			-webkit-transition: 200ms;
			transition: 200ms;
			&:hover {
				-webkit-filter: grayscale(0%) opacity(100%);
				filter: grayscale(0%) opacity(100%);
			}
		}
	}
	.connect {
		background-color: #080808;
		color: #fff;
		min-height: 40px;
		line-height: 40px;
		a {
			color: #fff;
		}
	}
	.social {
		span {
			margin-left: 3px;
		}
		a {
			border-radius: 50%;
			line-height: 28px;
			width: 28px;
			display: inline-block;
			text-align: center;
			&:hover {
				opacity: 0.9;
			}
		}
		.facebook a {
			background-color: #3B5A97;
		}
		.googleplus a {
			background-color: #CF463B;
		}
		.youtube a {
			background-color: #C9312F;
		}
		.twitter a {
			background-color: #41ABDD;
		}
		.instagram a {
			background-color: #6B4D08;
		}
	}
	.contact a {
		padding: 0 10px;
		display: inline-block;
		&:hover {
			background-color: #333;
		}
	}
	.colophon {
		background-color: #1A355E;
		font-size: 11px;
		color: #fff;
		padding-top: 12px;
		padding-bottom: 12px;
		a {
			color: #fff;
			&:hover {
				border-bottom: 1px dotted #fff;
			}
		}
		.address-info {
			font-style: normal;
		}
		.license {
			position: absolute;
			right: 15px;
			bottom: 0;
		}
	}
}

/* Room */

body.room .site-footer {
	display: none;
}

/* Room Slider */

.room-slides-wrap {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.room-slides img {
	display: block;
}

/* Room Slider Navigation */

.room-slides-thumbs {
	width: 100%;
	height: 70px;
	background-color: #111;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -70px;
	max-width: 1070px;
	margin: auto;
	padding: 10px 15px;
	color: #fff;
	z-index: 5;
	.title {
		font-size: 24px;
		float: left;
		margin-right: 15px;
		span {
			font-size: 14px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			display: block;
			opacity: 0.5;
		}
	}
	.toggle {
		position: absolute;
		top: -24px;
		right: 0;
		width: 40px;
		line-height: 24px;
		text-align: center;
		background-color: #111;
		background-color: rgba(0, 0, 0, 0.8);
		border-radius: 3px 3px 0 0;
		&:hover {
			opacity: 0.8;
		}
	}
	.thumbs {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			white-space: nowrap;
			overflow-x: auto;
		}
		li {
			display: inline-block;
			cursor: pointer;
			background-color: #fff;
		}
		img {
			display: block;
			transition: opacity 200ms;
			width: auto;
			height: 50px;
		}
		li.current img {
			opacity: 0.8;
		}
	}
}

/* Room Information */

.room-info {
	display: block;
	width: 100%;
	max-width: 1070px;
	position: fixed;
	top: 50%;
	left: 50%;
	font-size: 13px;
	z-index: 2;
	.row {
		margin-left: -5px;
		margin-right: -5px;
		[class*="col-"] {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.table {
		width: 100%;
		height: 100%;
	}
	.content {
		background-color: #fff;
		background-color: rgba(255, 255, 255, 0.9);
		width: 75%;
		padding: 25px;
		border-radius: 4px 0 0 4px;
		.title {
			margin-bottom: 10px;
		}
		.room-preview {
			margin-top: 3px;
		}
	}
	.book-this-room-button {
		background-color: #94b08b;
		color: #fff;
		border-radius: 3px;
		width: 100%;
		display: inline-block;
		margin-top: 15px;
		font-size: 12px;
		padding: 6px 20px 6px 10px;
		position: relative;
		&:after {
			content: '\f105';
			font-family: 'FontAwesome';
			float: right;
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -6px;
			line-height: 1;
		}
		&:hover {
			opacity: 0.8;
		}
		&.mobile {
			display: none;
		}
	}
	.content p {
		margin: 0 0 1em;
	}
	.amenities {
		position: relative;
		.shad-over {
			background-color: #89aa7f;
			padding: 15px;
			border-radius: 3px;
			color: #fff;
			position: relative;
			z-index: 2;
		}
		.shad-left {
			&:before, &:after {
				content: '';
				position: absolute;
				z-index: 1;
				width: 35%;
				height: 10px;
				-webkit-box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.3);
				box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.3);
			}
		}
		.shad-right {
			&:before, &:after {
				content: '';
				position: absolute;
				z-index: 1;
				width: 35%;
				height: 10px;
				-webkit-box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.3);
				box-shadow: 0 0 6px 10px rgba(0, 0, 0, 0.3);
			}
		}
		.shad-left {
			&:before {
				top: 17px;
				left: 16px;
				-webkit-transform: rotate(87deg);
				-ms-transform: rotate(87deg);
				transform: rotate(87deg);
				-webkit-transform-origin: top left;
				-ms-transform-origin: top left;
				transform-origin: top left;
			}
			&:after {
				bottom: 17px;
				left: 16px;
				-webkit-transform: rotate(-87deg);
				-ms-transform: rotate(-87deg);
				transform: rotate(-87deg);
				-webkit-transform-origin: bottom left;
				-ms-transform-origin: bottom left;
				transform-origin: bottom left;
			}
		}
		.shad-right {
			&:before {
				top: 17px;
				right: 16px;
				-webkit-transform: rotate(-87deg);
				-ms-transform: rotate(-87deg);
				transform: rotate(-87deg);
				-webkit-transform-origin: top right;
				-ms-transform-origin: top right;
				transform-origin: top right;
			}
			&:after {
				bottom: 17px;
				right: 16px;
				-webkit-transform: rotate(87deg);
				-ms-transform: rotate(87deg);
				transform: rotate(87deg);
				-webkit-transform-origin: bottom right;
				-ms-transform-origin: bottom right;
				transform-origin: bottom right;
			}
		}
		.title {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
		}
	}
	.amenities-list {
		list-style: none;
		margin: 1em 0 0;
		padding-left: 20px;
		li {
			position: relative;
			&:before {
				content: '';
				display: block;
				width: 4px;
				height: 4px;
				background-color: #748e6a;
				position: absolute;
				top: 7px;
				left: -12px;
			}
			&.more {
				&:before {
					content: none;
				}
				a {
					color: #748e6a;
				}
			}
		}
	}
}

#all_amenities {
	max-width: 600px;
	margin: auto;
	position: relative;
	color: #fff;
	h2 {
		border-bottom: 1px solid #fff;
		line-height: 40px;
	}
	ul {
		list-style: none;
		padding-left: 0;
	}
	li {
		position: relative;
		padding-left: 12px;
		&:before {
			content: '';
			display: block;
			width: 4px;
			height: 4px;
			background-color: #fff;
			position: absolute;
			top: 0.65em;
			left: 0;
		}
	}
	.mfp-close {
		color: #fff;
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
}

/* Room Booking */

.room-info .booking {
	background-color: #111;
	background-color: rgba(0, 0, 0, 0.9);
	width: 25%;
	padding: 15px;
	border-radius: 0 0 4px 0;
	color: #fefefe;
	.title {
		font: 300 24px 'Roboto', sans-serif;
		margin-bottom: 5px;
	}
	.field {
		margin-bottom: 10px;
	}
	.input-text {
		background-color: transparent;
		border: 1px solid #fefefe;
		border-radius: 3px;
	}
	.input-select {
		background-color: transparent;
		border: 1px solid #fefefe;
		border-radius: 3px;
		background-image: url(../elements/dropdown_arrow-green.png);
		background-position: right center;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&::-ms-expand {
			display: none;
		}
		option {
			background-color: #fff;
			color: #222;
		}
	}
	.input-text:focus, .input-select:focus {
		border-color: #89AA7F;
	}
	#checkin, #checkout {
		background-image: url(../elements/cal-green.png);
		background-position: right center;
		background-repeat: no-repeat;
	}
	p.note {
		font-size: 12px;
		color: #76956c;
		line-height: 1.2;
	}
}

#room-booking-form #submit {
	width: 100%;
	background-color: #8fba81;
	border-radius: 3px;
	height: auto;
	&:hover {
		background-color: #A5CC99;
	}
}

#newsletter-form {
	#submit {
		border: 1px solid #fefefe;
		border-radius: 3px;
		background-color: transparent;
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
			background-color: #fefefe;
			color: #222;
		}
	}
	+ .form-error-log a {
		color: #fff;
		text-decoration: underline;
	}
}

.room-info {
	.close {
		position: absolute;
		top: -28px;
		right: 0;
		color: #fff;
		line-height: 28px;
		padding: 0 10px;
		background-color: #111;
		background-color: rgba(0, 0, 0, 0.9);
		border-radius: 4px 4px 0 0;
		&:hover {
			opacity: 0.8;
		}
	}
	-webkit-transition: 300ms;
	transition: 300ms;
}

/* Hide content action */

.room-slides-thumbs {
	-webkit-transition: 300ms;
	transition: 300ms;
	.toggle .icon {
		-webkit-transition: 300ms;
		transition: 300ms;
	}
}

html.hide-content {
	.room-slides-thumbs {
		bottom: 0;
	}
	.room-info {
		visibility: hidden;
		opacity: 0;
		top: 52%;
	}
	.room-slides-thumbs .toggle .icon {
		-webkit-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}
}

/* Booking Bar */

.booking-bar {
	background-color: transparent;
	height: 75px;
	position: relative;
	z-index: 5;
	.inner {
		background-color: #1A355E;
		height: 75px;
		text-align: center;
	}
	&.fixed .inner {
		position: fixed;
		top: 60px;
		left: 0;
		right: 0;
	}
}

#booking-form {
	display: table;
	width: 100%;
	.field {
		display: table-cell;
		vertical-align: middle;
		height: 75px;
		padding: 0 5px;
	}
	.label {
		color: #fff;
		font-size: 12px;
		display: block;
		position: absolute;
		top: 8px;
		line-height: 1;
	}
	.input-select {
		min-width: 70px;
		padding-right: 24px;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-image: url(../elements/dropdown_arrow.png);
		background-position: right 55%;
		background-repeat: no-repeat;
		&::-ms-expand {
			display: none;
		}
	}
	.field-hotel {
		max-width: 130px;
	}
	.field-checkin, .field-checkout {
		max-width: 120px;
	}
	.field-code {
		max-width: 100px;
	}
	.field-error {
		position: relative;
		&[data-error-msg]:after {
			content: attr(data-error-msg);
			position: absolute;
			display: block;
			font-size: 11px;
			color: darkred;
			margin-top: 2px;
		}
		.error {
			background-color: darkred;
			color: #fff;
		}
	}
	#checkin, #checkout {
		background-image: url(../elements/icon-calendar.png);
		background-position: right center;
		background-repeat: no-repeat;
		padding-right: 30px;
		cursor: default;
	}
	#submit {
		background-color: #78a321;
		color: #fff;
		border: 0;
		border-radius: 0.25rem;
		white-space: nowrap;
		width: 100%;
		text-align: center;
		padding: 0;
		min-width: 100px;
		transition: 200ms;
		height: 40px;
		line-height: 40px;
		font-size: 1.25rem;
		&:hover {
			background-color: #8BB72D;
		}
	}
}

/* Owl Carousel */

.owl-carousel {
	&.has-nav {
		padding-left: 50px;
		padding-right: 50px;
	}
	.owl-nav {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -22.5px;
		height: 0;
	}
	&.force-nav .owl-nav {
		display: block;
	}
	.owl-next {
		float: right;
	}
	.owl-prev {
		float: left;
	}
}

.fx-scale .owl-item {
	.item {
		-webkit-transform: scale(0.85) translateZ(0);
		transform: scale(0.85) translateZ(0);
		-webkit-transition: 300ms;
		transition: 300ms;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	&.center .item {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	}
}

/* Magnific Popup */

.mfp-fade {
	&.mfp-bg {
		opacity: 0;
		-webkit-transition: all 0.15s ease-out;
		transition: all 0.15s ease-out;
		&.mfp-ready {
			opacity: 0.8;
		}
		&.mfp-removing {
			opacity: 0;
		}
	}
	&.mfp-wrap {
		.mfp-content, .mfp-arrow {
			opacity: 0;
			-webkit-transition: all 0.15s ease-out;
			transition: all 0.15s ease-out;
		}
		&.mfp-ready {
			.mfp-content, .mfp-arrow {
				opacity: 1;
			}
		}
		&.mfp-removing {
			.mfp-content, .mfp-arrow {
				opacity: 0;
			}
		}
	}
}

/**
 * Social Side Sticky
 */
#social_side {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 20;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
    }
    a {
        display: block;
        width: 32px;
        text-align: center;
        padding: 4px 0;
        transition: 350ms;
        &:hover,
        &:active {
            background-color: #eee;
            transition-duration: 0ms;
            [class*="sprite-social-"] {
                filter: brightness(1.2);
                transition-duration: 0ms;
            }
        }
        [class*="sprite-social-"] {
            display: block;
            margin: auto;
            transition: 350ms;
        }
    }
}