html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.2;
    font-family: 'Cinzel', sans-serif;
    font-weight: 400;
}

a {
    color: #1A355E;
    text-decoration: none;
}

a:hover {
    color: #333;
}

ul, ol {
    padding-left: 20px;
}

dt {
    float: left;
}

dd {
    margin-left: 100px;
    margin-bottom: 5px;
}

img.block {
    display: block;
}

img.responsive {
    max-width: 100%;
    height: auto;
}

img.force {
    display: block;
    width: 100%;
    height: auto;
}

img.align-left {
    float: left;
    margin-right: 1em;
    margin-bottom: 5px;
}

table {
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    margin: 1em auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px 10px;
}

th {
    font-weight: 300;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.mobile {
    display: none;
}

.hidden {
	display: none !important;
}

html.preload *,
html.resizing * {
    -webkit-transition: none !important;
    transition: none !important;
}

html.disable-scroll {
    overflow: hidden;
}

.clickable {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[class*="custom-list-"] {
    list-style: none;
    padding-left: 20px;
}

[class*="custom-list-"] > li {
    position: relative;
}

.custom-list-dashed > li:before {
    content: '-';
    position: absolute;
    left: -0.8em;
}

.list-description {
    list-style: none;
    padding-left: 0;
}

.list-description li span {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

/* Layout */
.row {
    margin-left: -10px;
    margin-right: -10px;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

.row > [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.col-w1 { width: 8.3333%; }
.col-w2 { width: 16.6666%; }
.col-w3 { width: 25%; }
.col-w4 { width: 33.3333%; }
.col-w5 { width: 41.6666%; }
.col-w6 { width: 50%; }
.col-w7 { width: 58.3333%; }
.col-w8 { width: 66.6666%; }
.col-w9 { width: 75%; }
.col-w10 { width: 83.3333%; }
.col-w11 { width: 91.6666%; }
.col-w12 { width: 100%; }

.row.nopadding {
    margin-left: 0;
    margin-right: 0;
}

.row.nopadding > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

[class*="list-columns-"] {
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

[class*="list-columns-"] > li {
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.list-columns-2 { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; }
.list-columns-3 { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; }

.table {
    display: table;
}

.table-cell {
    display: table-cell;
    height: 100%;
    vertical-align: top;
}

/* Fonts */
.font-roboto { font-family: 'Roboto', sans-serif }
.font-roboto-condensed { font-family: 'Roboto Condensed', sans-serif }
.font-opensans-condensed { font-family: 'Open Sans Condensed', sans-serif }
.font-cinzel { font-family: 'Cinzel', sans-serif }

/* Form */
.form .form-group {
    display: block;
    margin-bottom: 10px;
}

.form .field {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.form .field-required .label:after {
    content: '*';
    color: darkred;
}

.form .input-text,
.form .input-select,
.form .input-textarea {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    padding: 0 6px;
    border: 0;
}

.form .input-textarea {
    height: inherit;
    line-height: inherit;
    padding: 6px;
}

.form .button {
    display: inline-block;
    font-size: 12px;
    line-height: 27px;
    height: 28px;
    padding: 0 15px 1px;
    border: 1px solid #000;
    background-color: #666;
    color: #fff;
}

/* Button */
.button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button.luxury-style {
    max-width: 100%;
    position: relative;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #fff, #f5f5f5);
    background-image: linear-gradient(to bottom, #fff, #f5f5f5);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    line-height: 1;
    height: 54px;
    padding-top: 11px;
    padding-left: 50px;
    padding-right: 80px;
    color: #888;
    border-radius: 2px;
    overflow: hidden;
    text-shadow: 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.button.luxury-style:after {
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 24px;
    color: #333;
    line-height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    text-align: center;
    background: #f1f1f1;
}

.button.luxury-style:hover:after {
    background-color: #f5f5f5;
    text-shadow: none;
}

.button.luxury-style:active {
    top: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Pattern */
[class*="pattern-"] {
    background-position: center;
    background-repeat: repeat;
}

.pattern-fibers {
    background-image: url(../elements/paper_fibers.png);
    background-size: 410px 410px;
}

/* Decorate */
.deco-underline {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

.deco-underline:after {
    content: '';
    width: 80px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: -12%;
    left: 50%;
    margin-left: -40px;
    z-index: 1;
}

.deco-underline.style-left {
    text-align: left;
}

.deco-underline.style-left:after {
    left: 0;
    margin-left: 0;
}

.deco-map {
    position: relative;
    left: 80px;
    display: inline-block;
}

.deco-map:before {
    content: '';
    position: absolute;
    top: -18px;
    left: -160px;
    width: 160px;
    height: 78px;
    background-image: url(../elements/deco-map.png);
}

/* Header */
.site-header {
    background-color: #fff;
    position: relative;
    z-index: 10;
    > .container {
        height: 100%;
    }
    @media (min-width: 768px) {
        height: 135px;
    }
    @media (min-width: 992px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    @media (min-width: 1200px) {
        height: 100px;
    }
}

.site-branding {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    a, img {
        display: inline-block;
    }
    .logo {
        width: 154px;
        height: auto;
        backface-visibility: hidden;
    }
    @media (min-width: 768px) {
        display: inline-block;
        .logo {
            width: 180px;
        }
    }
}

.side-panel-trigger {
    position: absolute;
    top: 45px;
    left: 15px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-top: -24px;
    text-align: center;
    @media (min-width: 768px) {
        display: none;
    }
}

.home-trigger {
    @extend .side-panel-trigger;
    left: auto;
    right: 15px;
}

/* =Site Navigation
-------------------------------------------------------------------- */
.site-navigation {
    display: none;
    background-color: #eee;
    padding-left: 15px;
    padding-right: 15px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    > ul {
        display: flex;
        margin: 0 -0.5rem;
    }
    a {
        display: block;
        padding: 0.5rem;
        white-space: nowrap;
    }
    li.has-sub-menu {
        position: relative;
        & > a::after {
            content: '\f107';
            font-family: 'FontAwesome';
            margin-left: 4px;
            line-height: 1;
        }
        &:hover,
        &:active {
            > ul.sub-menu {
                visibility: visible;
                opacity: 1;
                transform: translate(0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
    ul.sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 350ms;
        background-color: #fff;
        transform: translate(0, 10px);
        transform: translate3d(0, 10px, 0);
        box-shadow: 0 0 8px rgba(0,0,0,.1);
        a {
            transition: 350ms;
            &:hover,
            &:active {
                background-color: #1A355E;
                color: #fff;
                transition: 0ms;
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    @media (min-width: 1200px) {
        position: absolute;
        top: 48px;
        left: 220px;
        right: 265px;
        background: none;
        > ul {
            justify-content: center;
        }
    }
}

.site-topbar {
    display: none;
    background-color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    font-size: 0.85rem;
    height: 24px;
    padding-top: 3px;
    padding-right: 15px;
    cursor: default;
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1200px) {
        right: 15px;
    }
    &::before {
        content: '';
        background-color: #eee;
        position: absolute;
        top: 0;
        left: -24px;
        width: 24px;
        height: 24px;
        border-bottom-left-radius: 75%;
    }
    > ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        > li {
            & + li {
                margin-left: 0.5rem;
            }
            > a {
                color: #333;
                &:hover,
                &:active {
                    color: #9A7B12;
                }
            }
        }
    }
}

#lang_select {
    position: relative;
    .list-lang {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        transition: 350ms 250ms;
        font-size: 1rem;
        filter: drop-shadow(0 0 3px rgba(0,0,0,.2));
        a {
            display: block;
            white-space: nowrap;
            padding: 0.25rem 0.75rem;
            color: #333;
            &:hover,
            &:active {
                background-color: #1f4680;
                color: #fff;
            }
            .flag {
                vertical-align: -0.25em;
            }
        }
    }
    &:hover,
    &:active {
        .display {
            color: #9A7B12;
        }
        .list-lang {
            opacity: 1;
            visibility: visible;
            transition-delay: 0ms;
        }
    }
}

/** Member */
#member {
    position: relative;
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: 768px) {
        position: absolute;
        top: 38px;
        right: 15px;
        width: 230px;
        margin: 0;
    }
    .title {
        font-size: 1em;
        line-height: 1.2;
    }
    .description {
        font-size: 0.75em;
        line-height: 1.2;
    }
    .icon-discount {
        position: absolute;
        top: 0.65em;
        left: 9px;
    }
    .member-panel-trigger,
    .member-account {
        display: none;
        position: relative;
        padding: 0.7em 0.25em 0.5em calc(0.25em + 34px);
        color: #FFF;
        text-decoration: none;
        height: 48px;
        transition: 350ms;
        @media (min-width: 768px) {
            border-radius: 0.25rem;
        }
    }
    .member-panel-trigger {
        background-color: #1F4680;
        cursor: pointer;
        .description {
            color: lighten(#1F4680, 46);
        }
        &:hover,
        &:active {
            background-color: darken(#1F4680, 3);
        }
    }
    .member-account {
        background-color: #9A7B12;
        cursor: default;
        .description {
            color: lighten(#9A7B12, 46);
        }
    }
    .member-panel {
        display: none;
        background-color: #133567;
        background-color: darken(#1F4680, 7);
        padding: 12px;
        border-radius: 0.25em;
        color: #FFF;
        .form-group {
            margin-bottom: 10px;
        }
        input[name="email"] {
            background-color: transparent;
            width: 100%;
            background: none;
            padding: 0.5rem 0.75rem;
            border: 1px solid #fff;
            border-radius: 0.25rem;
            color: #FFF;
            &:valid {
                box-shadow: 0 0 0 2px green;
            }
            &::-webkit-input-placeholder {
                color: #FFF;
            }
            &::-moz-placeholder {
                color: #FFF;
            }
            &:-moz-placeholder {
                color: #FFF;
            }
            &:-ms-input-placeholder {
                color: #FFF;
            }
        }
        .btn {
            padding: 0.5rem 0.75rem;
            border-radius: 0.25rem;
            border: 1px solid #FFF;
            background-color: #FFF;
            cursor: pointer;
            transition: 350ms;
            color: #555;
            &:hover,
            &:active {
                transition: 0ms;
            }
            &-borderless {
                border-color: transparent;
                background-color: transparent;
            }
        }
        .btn-submit {
            &:hover,
            &:active {
                background-color: #78A321;
                border-color: darken(#78A321, 10);
                color: #FFF;
            }
        }
        .btn-close {
            color: #FFF;
            &:hover,
            &:active {
                color: #CCC;
            }
        }
        p {
            line-height: 1.2;
            margin: 0 0 10px;
        }
    }
    .is-member .member-account {
        display: block;
    }
    .is-guest .member-panel-trigger {
        display: block;
    }
}

.site-header {
    transition: 150ms;
    .site-topbar,
    .site-navigation,
    .site-branding a,
    .site-branding .logo,
    #member {
        transition: 150ms;
    }
    &.mini {
        height: 60px;
        background-color: #fff;
        .site-topbar {
            transform: translate(0, -24px);
            transform: translate3d(0, -24px, 0);
        }
        .site-navigation {
            left: 135px;
            transform: translate(0, -34px);
            transform: translate3d(0, -34px, 0);
        }
        .site-branding {
            padding-top: 7px;
            padding-bottom: 0;
        }
        .site-branding .logo {
            width: 110px;
        }
        #member {
            transform: translate(0, -32px);
            transform: translate3d(0, -32px, 0);
        }
    }
}

.side-panel {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    height: 100vh;
    z-index: 99;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: auto;
    transform: translate(-100%, 0);
    transform: translate3d(-100%, 0, 0);
    transition: transform 350ms;
    will-change: transform;
    ul {
        list-style: none;
        margin: 0.5rem 0;
        padding: 0;
    }
    ul.list-menu {
        a {
            display: block;
            padding: 0.5rem 15px;
            &:active,
            &:hover {
                background-color: #f5f5f5;
            }
        }
        li.current > a {
            background-color: #1f4680;
            color: #fff;
        }
    }
    ul.sub-menu {
        margin: 0;
        background-color: #fafafa;
        //display: none;
        a, .label {
            font-size: 0.9rem;
            padding: 0.3rem 15px 0.25rem 30px;
        }
        .label {
            background-color: #9A7B12;
            color: #fff;
            line-height: 1;
        }
    }

    .divider {
        display: block;
        width: auto;
        height: 1px;
        background-color: #eee;
    }

    .languages {
        padding: 1rem 15px;
        h3 {
            font-size: smaller;
        }
        li {
            display: inline-block;
        }
        a {
            &:hover,
            &:active {
                border-bottom: 1px solid currentColor;
            }
        }
    }

    &-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        background-color: #000;
        z-index: 99;
        transition-property: opacity, visibility;
        transition-duration: 350ms;
    }

    &-drag {
        position: fixed;
        top: 0;
        left: 0;
        width: 15px;
        height: 100%;
        height: 100vh;
        background: none;
        z-index: 99;
    }
}

body.side-panel-show {
    overflow: hidden;
    .side-panel {
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        &-bg {
            opacity: 0.65;
            visibility: visible;
        }
    }
}
// .site-header {
//     position: fixed;
//     z-index: 10;
//     left: 0;
//     right: 0;
//     height: 120px;
// }

// .site-header:after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 120px;
//     background-image: url(../elements/bg-header-gradient.png);
//     background-position: left top;
//     background-repeat: repeat-x;
//     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.7)), to(rgba(0,0,0,0)));
//     background-image: -webkit-linear-gradient(top, rgba(0,0,0,.7), rgba(0,0,0,0));
//     background-image: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,0));
//     z-index: -1;
// }

// .site-header a {
//     color: #fff;
// }

// .site-branding,
// .site-action,
// .site-navigation {
//     position: absolute;
// }

// .site-branding {
//     top: 0;
//     left: 15px;
// }

// .site-branding a {
//     display: block;
//     padding: 20px 10px;
//     background-color: #fff;
//     background-color: rgba(255,255,255,.75);
//     -webkit-transition: 200ms;
//     transition: 200ms;
// }

// .site-branding .logo {
//     display: block;
//     width: 190px;
//     height: auto;
// }

// .site-branding .logo.mobile {
//     display: none;
// }

// .site-action {
//     top: 28px;
//     right: 15px;
// }

// .site-action .group-home,
// .site-action .social,
// .site-action .language {
//     display: inline-block;
//     margin-left: 15px;
//     vertical-align: top;
// }

// /* Group home */
// .site-action .group-home a {
//     display: block;
//     line-height: 30px;
// }

// .icon-home {
//     display: inline-block;
//     width: 20px;
//     height: 20px;
//     text-align: center;
//     vertical-align: middle;
//     background-image: url(../elements/icon-home.png);
// }

// /* Social */
// .site-action .social {
//     font-size: 18px;
// }

// .site-action .social a {
//     display: inline-block;
//     width: 22px;
//     line-height: 30px;
//     text-align: center;
//     font-weight: normal;
// }

// .site-action .social a.facebook:hover { color: #3B5A97; }
// .site-action .social a.youtube:hover { color: #CB3133; }
// .site-action .social a.instagram:hover { color: #59481F; }

// /* Language Select */
// #language_select {
//     position: relative;
//     color: #fff;
//     border: 1px solid #fff;
//     line-height: 28px;
//     cursor: default;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }

// #language_select .active {
//     display: block;
//     padding-left: 10px;
//     padding-right: 24px;
// }

// #language_select .active:after {
//     content: '\f0d7';
//     font-family: 'FontAwesome';
//     position: absolute;
//     top: 0;
//     right: 9px;
// }

// #language_select .options {
//     display: none;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     position: absolute;
//     left: -1px;
//     right: -1px;
//     background-color: #fff;
//     min-width: 100%;
// }

// #language_select .option a {
//     display: block;
//     color: #666;
//     padding-left: 6px;
//     padding-right: 6px;
// }

// #language_select .option:hover a {
//     background-color: #4B9ED9;
//     color: #fff;
// }

// #language_select.visible .active {
//     background-color: #fff;
//     color: #666;
// }

// #language_select.visible .options {
//     display: block;
//     z-index: 9999;
// }

// #language_select .disabled {
// 	display: none;
// }

// /* =Site Navigation
// -------------------------------------------------------------------- */

// .site-navigation {
//     top: 65px;
//     right: 5px;
// }

// .site-navigation ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

// .site-navigation li {
//     display: inline-block;
// }

// .site-navigation a {
//     display: block;
//     padding-left: 10px;
//     padding-right: 10px;
//     line-height: 28px;
//     white-space: nowrap;
//     text-transform: uppercase;
// }

// .site-navigation li.has-sub-menu {
//     position: relative;
// }

// .site-navigation li.has-sub-menu > a:after {
//     content: '\f107';
//     font-family: 'FontAwesome';
//     margin-left: 4px;
//     line-height: 1;
// }

// .site-navigation li.has-sub-menu.visible > ul.sub-menu {
//     display: block;
// }

// .site-navigation ul.sub-menu {
//     display: none;
//     position: absolute;
//     top: 100%;
//     background-color: rgba(0,0,0,.6);
//     border-radius: 2px;
//     padding: 4px 0;
//     min-width: 100%;
//     font-size: 12px;
// }

// .site-navigation ul.sub-menu > li {
//     display: block;
// }

// .site-navigation ul.sub-menu > li > a {
//     display: block;
// }

// .site-navigation ul.sub-menu > li > a:hover {
//     background-color: rgba(255,255,255,.1);
// }

// .site-navigation li.disabled {
// 	display: none !important;
// }

// /* Offcanvas Menu */
// .offside-menu-bg {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     height: 100%;
//     background-color: #000;
//     opacity: 0;
//     z-index: 100000;
//     visibility: hidden;
//     overflow: hidden;
//     -webkit-transition: 300ms;
//     transition: 300ms;
//     /* Fixed bottom space on some mobile browser*/
//     -webkit-box-shadow: 0 60px 0 #000;
//     box-shadow: 0 60px 0 #000;
// }

// #offside-menu {
//     background-color: #fff;
//     position: fixed;
//     top: 0;
//     left: 0;
//     -webkit-box-shadow: 0 100px 0 #fff;
//     box-shadow: 0 100px 0 #fff;
//     max-width: 80%;
//     min-width: 240px;
//     width: 300px;
//     height: 100%;
//     font-size: 14px;
//     z-index: 100000;
//     -webkit-transform: translateX(-100%);
//     -ms-transform: translateX(-100%);
//     transform: translateX(-100%);
//     -webkit-transition: 300ms;
//     transition: 300ms;
// }

// #offside-menu .inner {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     overflow: auto;
//     padding-bottom: 3em;
// }

// #offside-menu .header {
//     display: block;
//     background-color: #ddd;
//     padding: 10px;
// }

// #offside-menu ul {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

// #offside-menu li.disabled {
// 	display: none !important;
// }

// #offside-menu a {
//     display: block;
//     padding: 10px;
//     color: #666;
// }

// #offside-menu .menu a:hover,
// #offside-menu .menu a:active {
//     background-color: #eee;
// }

// #offside-menu .menu li.current > a {
//     background-color: #eee;
// }

// #offside-menu .menu > li {
//     border-bottom: 1px solid #eee;
// }

// #offside-menu .has-sub-menu > a {
//     position: relative;
// }

// #offside-menu .has-sub-menu > a:after {
//     content: '\f107';
//     font-family: 'FontAwesome';
//     position: absolute;
//     line-height: 1;
//     top: 50%;
//     right: 12px;
//     margin-top: -0.5em;
// }

// #offside-menu .sub-menu {
//     padding-left: 10px;
//     padding-bottom: 10px;
//     font-size: 12px;
// }

// #offside-menu .sub-menu > li > a {
//     margin-left: -10px;
//     padding-left: 20px;
// }

// #offside-menu .has-sub-menu.visible .sub-menu {
//     display: block;
// }

// #offside-menu .sub-menu {
//     display: none;
// }

// .toggle-menu-button {
//     display: none;
//     border: 1px solid #fff;
//     background-color: #fff;
//     line-height: 28px;
//     padding-left: 10px;
//     padding-right: 10px;
//     cursor: pointer;
//     white-space: nowrap;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
// }

// #offside-menu .close-menu {
//     display: none;
//     position: absolute;
//     top: 5px;
//     right: -36px;
//     width: 32px;
//     height: 32px;
//     background-color: transparent;
// }

// #offside-menu .close-menu .bar {
//     position: absolute;
//     width: 32px;
//     height: 3px;
//     background-color: #fff;
//     top: 50%;
//     margin-top: -1.5px;
//     -webkit-transform-origin: 50%;
//     -ms-transform-origin: 50%;
//     transform-origin: 50%;
// }

// #offside-menu .close-menu .bar-1 {
//     -webkit-transform: rotate(45deg);
//     -ms-transform: rotate(45deg);
//     transform: rotate(45deg);
// }

// #offside-menu .close-menu .bar-2 {
//     -webkit-transform: rotate(-45deg);
//     -ms-transform: rotate(-45deg);
//     transform: rotate(-45deg);
// }

// html.open-offside-menu {
//     overflow-y: hidden;
// }

// html.open-offside-menu #offside-menu {
//     -webkit-transform: translateX(0);
//     -ms-transform: translateX(0);
//     transform: translateX(0);
// }

// html.open-offside-menu #offside-menu .close-menu {
//     display: block;
// }

// html.open-offside-menu .offside-menu-bg {
//     visibility: visible;
//     opacity: 0.6
// }

// /* =Header Mini
// -------------------------------------------------------------------- */
// .site-header,
// .site-header:after,
// .site-header .site-branding,
// .site-header .site-branding .logo,
// .site-header .site-action,
// .site-header .site-navigation {
//     -webkit-transition: 300ms;
//     transition: 300ms;
// }

// .site-header.mini {
//     background: #222;
//     height: 60px;
// }

// .site-header.mini:after {
//     top: -47px;
// }

// .site-header.mini .site-branding a {
//     padding-top: 7px;
//     padding-bottom: 6px;
// }

// .site-header.mini .site-branding .logo {
//     width: 110px;
// }

// .site-header.mini .site-action {
//     top: -19px;
//     opacity: 0;
//     visibility: hidden;
// }

// .site-header.mini .site-navigation {
//     top: 18px;
// }

// .site-header.mini .site-navigation ul.sub-menu {
//     top: 42px;
//     background-color: rgba(0,0,0,.85);
// }

// .m-topbar {
//     display: none;
// }

/* =Main
-------------------------------------------------------------------- */

.site-main {
    &.no-head {
        padding-top: 20px;
    }
    @media (min-width: 992px) {
        padding-top: 135px;
        &.no-head {
            padding-top: 200px;
        }
    }
    @media (min-width: 1200px) {
        padding-top: 0;
        &.no-head {
            padding-top: 165px;
        }
    }
}

.site-main.no-head {
    padding-top: 200px;
}

.page-cover {
    position: relative;
}

.owl-carousel.hero-slider .owl-nav {
    margin-top: 20px;
    left: 10px;
    right: 10px;
}

.owl-carousel.force-nav .owl-nav.disabled {
    display: block;
}

.custom-hero-slide-nav {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    height: 0;
    z-index: 5;
    margin-top: -25px;
    @media (min-width: 1200px) {
        top: calc(50% + 50px);
    }
}

.custom-hero-slide-nav .owl-prev {
    float: left;
}

.custom-hero-slide-nav .owl-next {
    float: right;
}

.custom-hero-slide-nav.disabled {
    display: none;
}

/* =Sidebar
-------------------------------------------------------------------- */
.site-content.sidebar-left {
    position: relative;
}

.site-content.sidebar-left .col-content {
    position: relative;
    left: 33.3333%
}

.site-content.sidebar-left .col-sidebar {
    position: relative;
    right: 66.6666%;
}

.sidebar .aside {
    margin-bottom: 30px;
    max-width: 260px;
}

.sidebar .aside .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* =Footer
-------------------------------------------------------------------- */
.site-footer .brands {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 0;
}

.site-footer .brands .logo {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-filter: grayscale(100%) opacity(60%);
    filter: grayscale(100%) opacity(60%);
    -webkit-transition: 200ms;
    transition: 200ms;
}

.site-footer .brands .logo:hover {
    -webkit-filter: grayscale(0%) opacity(100%);
    filter: grayscale(0%) opacity(100%);
}

.site-footer .connect {
    background-color: #080808;
    color: #fff;
    min-height: 40px;
    line-height: 40px;
}

.site-footer .connect a {
    color: #fff;
}

.site-footer .social span {
    margin-left: 3px;
}

.site-footer .social a {
    border-radius: 50%;
    line-height: 28px;
    width: 28px;
    display: inline-block;
    text-align: center;
}

.site-footer .social a:hover {
    opacity: 0.9;
}

.site-footer .social .facebook a { background-color: #3B5A97; }
.site-footer .social .googleplus a { background-color: #CF463B; }
.site-footer .social .youtube a { background-color: #C9312F; }
.site-footer .social .twitter a { background-color: #41ABDD; }
.site-footer .social .instagram a { background-color: #6B4D08; }

.site-footer .contact a {
    padding: 0 10px;
    display: inline-block;
}

.site-footer .contact a:hover {
    background-color: #333;
}

.site-footer .colophon {
    background-color: #1a355e;
    background-color: #007BC1;
    font-size: 11px;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
}

.site-footer .colophon a {
    color: #fff;
}

.site-footer .colophon a:hover {
    border-bottom: 1px dotted #fff;
}

.site-footer .colophon .address-info {
    font-style: normal;
}

.site-footer .colophon .license {
    position: absolute;
    right: 15px;
    bottom: 0;
}

/* Room */
body.room .site-footer {
    display: none;
}

/* Room Slider */
.room-slides-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.room-slides img {
    display: block;
}

/* Room Slider Navigation */
.room-slides-thumbs {
    width: 100%;
    height: 70px;
    background-color: #111;
    background-color: rgba(0,0,0,.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;
    max-width: 1070px;
    margin: auto;
    padding: 10px 15px;
    color: #fff;
    z-index: 5;
}

.room-slides-thumbs .title {
    font-size: 24px;
    float: left;
    margin-right: 15px;
}

.room-slides-thumbs .title span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: block;
    opacity: 0.5
}

.room-slides-thumbs .toggle {
    position: absolute;
    top: -24px;
    right: 0;
    width: 40px;
    line-height: 24px;
    text-align: center;
    background-color: #111;
    background-color: rgba(0,0,0,.8);
    border-radius: 3px 3px 0 0;
}

.room-slides-thumbs .toggle:hover {
    opacity: 0.8;
}

.room-slides-thumbs .thumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}

.room-slides-thumbs .thumbs li {
    display: inline-block;
    cursor: pointer;
    background-color: #fff;
}

.room-slides-thumbs .thumbs img {
    display: block;
	width: auto;
	height: 50px;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}

.room-slides-thumbs .thumbs li.current img {
    opacity: 0.8;
}

/* Room Information */
.room-info {
    display: block;
    width: 100%;
    max-width: 1070px;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 13px;
    z-index: 2;
}

.room-info .row {
    margin-left: -5px;
    margin-right: -5px;
}

.room-info .row [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.room-info .table {
    width: 100%;
    height: 100%;
}

.room-info .content {
    background-color: #fff;
    background-color: rgba(255,255,255,.9);
    width: 75%;
    padding: 25px;
    border-radius: 4px 0 0 4px;
}

.room-info .content .title {
    margin-bottom: 10px;
}

.room-info .content .room-preview {
    margin-top: 3px;
}

.room-info .book-this-room-button {
    background-color: #007BC1;
    color: #fff;
    border-radius: 3px;
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    font-size: 12px;
    padding: 6px 20px 6px 10px;
    position: relative;
}

.room-info .book-this-room-button:after {
    content: '\f105';
    font-family: 'FontAwesome';
    float: right;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
    line-height: 1;
}

.room-info .book-this-room-button:hover {
    opacity: 0.8;
}

.room-info .book-this-room-button.mobile {
    display: none;
}

.room-info .content p {
    margin: 0 0 1em;
}

.room-info .amenities {
    position: relative;
}

.room-info .amenities .shad-over {
    background-color: #007BC1;
    padding: 15px;
    border-radius: 3px;
    color: #fff;
    position: relative;
    z-index: 2;
}

.room-info .amenities .shad-left:before,
.room-info .amenities .shad-left:after,
.room-info .amenities .shad-right:before,
.room-info .amenities .shad-right:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 35%;
    height: 10px;
    -webkit-box-shadow: 0 0 6px 10px rgba(0,0,0,.3);
    box-shadow: 0 0 6px 10px rgba(0,0,0,.3);
}

.room-info .amenities .shad-left:before {
    top: 17px;
    left: 16px;
    -webkit-transform: rotate(87deg);
    -ms-transform: rotate(87deg);
    transform: rotate(87deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}

.room-info .amenities .shad-left:after {
    bottom: 17px;
    left: 16px;
    -webkit-transform: rotate(-87deg);
    -ms-transform: rotate(-87deg);
    transform: rotate(-87deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
}

.room-info .amenities .shad-right:before {
    top: 17px;
    right: 16px;
    -webkit-transform: rotate(-87deg);
    -ms-transform: rotate(-87deg);
    transform: rotate(-87deg);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
}

.room-info .amenities .shad-right:after {
    bottom: 17px;
    right: 16px;
    -webkit-transform: rotate(87deg);
    -ms-transform: rotate(87deg);
    transform: rotate(87deg);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
}

.room-info .amenities .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.room-info .amenities-list {
    list-style: none;
    margin: 1em 0 0;
    padding-left: 20px;
}

.room-info .amenities-list li {
    position: relative;
}

.room-info .amenities-list li:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 7px;
    left: -12px;
}

.room-info .amenities-list li.more:before {
    content: none;
}

.room-info .amenities-list li.more a {
    color: #fff;
}

#all_amenities {
    max-width: 400px;
    margin: auto;
    position: relative;
    color: #fff;
}
#all_amenities h2 {
    border-bottom: 1px solid #fff;
    line-height: 40px;
}
#all_amenities ul {
    list-style: none;
    padding-left: 0;
}
#all_amenities li {
    position: relative;
    padding-left: 12px;
}
#all_amenities li:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2px;
}
#all_amenities .mfp-close {
    color: #fff;
    line-height: 40px;
    width: 40px;
    height: 40px;
}

/* Room Booking */
.room-info .booking {
    background-color: #111;
    background-color: rgba(0,0,0,.9);
    width: 25%;
    padding: 15px;
    border-radius: 0 0 4px 0;
    color: #fefefe;
}

.room-info .booking .title {
    font: 300 24px 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.room-info .booking .field {
    margin-bottom: 10px;
}

.room-info .booking .input-text,
.room-info .booking .input-select {
    background-color: transparent;
    border: 1px solid #fefefe;
    border-radius: 3px;
}

.room-info .booking .input-select {
    background-image: url(../elements/dropdown_arrow-green.png);
    background-position: right center;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.room-info .booking .input-select::-ms-expand {
    display: none;
}

.room-info .booking .input-select option {
    background-color: #fff;
    color: #222;
}

.room-info .booking .input-text:focus,
.room-info .booking .input-select:focus {
    border-color: #007BC1;
}

.room-info .booking #checkin,
.room-info .booking #checkout {
    background-image: url(../elements/cal-green.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.room-info .booking p.note {
    font-size: 12px;
    color: #007BC1;
    line-height: 1.2;
}

#room-booking-form #submit {
    width: 100%;
    background-color: #007BC1;
    border-radius: 3px;
    height: auto;
}

#room-booking-form #submit:hover {
    background-color: #1791D3;
}

#newsletter-form #submit {
    border: 1px solid #fefefe;
    border-radius: 3px;
    background-color: transparent;
}

#newsletter-form #submit:hover {
    background-color: rgba(255,255,255,.2);
    background-color: #fefefe;
    color: #222;
}

#newsletter-form + .form-error-log a {
    color: #fff;
    text-decoration: underline;
}

.room-info .close {
    position: absolute;
    top: -28px;
    right: 0;
    color: #fff;
    line-height: 28px;
    padding: 0 10px;
    background-color: #111;
    background-color: rgba(0,0,0,.9);
    border-radius: 4px 4px 0 0;
}

.room-info .close:hover {
    opacity: 0.8;
}

/* Hide content action */
.room-info,
.room-slides-thumbs,
.room-slides-thumbs .toggle .icon {
    -webkit-transition: 300ms;
    transition: 300ms;
}

html.hide-content .room-slides-thumbs {
    bottom: 0;
}

html.hide-content .room-info {
    visibility: hidden;
    opacity: 0;
    top: 52%;
}

html.hide-content .room-slides-thumbs .toggle .icon {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

/* Booking Bar */
.booking-bar {
    background-color: transparent;
    height: 75px;
    position: relative;
    z-index: 5;
}

.booking-bar .inner {
    background-color: #1a355e;
    background-color: #007bc1;
    height: 75px;
    text-align: center;
}

.booking-bar.fixed .inner {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
}

#booking-form {
    display: table;
    width: 100%;
}

#booking-form .field {
    display: table-cell;
    vertical-align: middle;
    height: 75px;
    padding: 0 5px;
}

#booking-form .label {
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    top: 8px;
    line-height: 1;
}

#booking-form .input-select {
    min-width: 70px;
    padding-right: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url(../elements/dropdown_arrow.png);
    background-position: right 55%;
    background-repeat: no-repeat;
}

#booking-form .input-select::-ms-expand {
    display: none;
}

#booking-form .field-hotel {
    max-width: 130px;
}

#booking-form .field-checkin,
#booking-form .field-checkout {
    max-width: 120px;
}

#booking-form .field-code {
    max-width: 100px;
}

#booking-form .field-error {
    position: relative;
}

#booking-form .field-error[data-error-msg]:after {
    content: attr(data-error-msg);
    position: absolute;
    display: block;
    font-size: 11px;
    color: darkred;
    margin-top: 2px;
}

#booking-form .field-error .error {
    background-color: darkred;
    color: #fff;
}

#booking-form #checkin,
#booking-form #checkout {
    background-image: url(../elements/icon-calendar.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

#booking-form #submit {
    background-color: #78a321;
    color: #fff;
    border: 0;
    border-radius: 2px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    padding: 0;
    min-width: 100px;
    -webkit-transition: 200ms;
    transition: 200ms;
}

#booking-form #submit:hover {
    background-color: #8BB72D;
}

/* Owl Carousel */
.owl-carousel.has-nav {
    padding-left: 50px;
    padding-right: 50px;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -22.5px;
    height: 0;
}

.owl-carousel .owl-next {
    float: right;
}

.owl-carousel .owl-prev {
    float: left;
}

.fx-scale .owl-item .item {
    -webkit-transform: scale(0.85) translateZ(0);
    transform: scale(0.85) translateZ(0);
    -webkit-transition: 300ms;
    transition: 300ms;
}

.fx-scale .owl-item .item {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.fx-scale .owl-item.center .item {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.owl-carousel.force-nav .owl-nav.disabled {
	display: block;
}

/* Magnific Popup */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content,
.mfp-fade.mfp-wrap .mfp-arrow {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content,
.mfp-fade.mfp-wrap.mfp-ready .mfp-arrow {
    opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content,
.mfp-fade.mfp-wrap.mfp-removing .mfp-arrow {
    opacity: 0;
}

/* Google Scripts */
iframe[name="google_conversion_frame"] {
    display: none;
}

/**
 * Social Side Sticky
 */
#social_side {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 20;
    padding-top: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: block;
    }
    a {
        display: block;
        width: 32px;
        text-align: center;
        padding: 4px 0;
        transition: 350ms;
        &:hover,
        &:active {
            background-color: #eee;
            transition-duration: 0ms;
            [class*="sprite-social-"] {
                filter: brightness(1.2);
                transition-duration: 0ms;
            }
        }
        [class*="sprite-social-"] {
            display: block;
            margin: auto;
            transition: 350ms;
        }
    }
}