@media (max-width: 1140px) {
    // .site-navigation {
    //     ul {
    //         text-align: right;
    //     }
    //     li {
    //         width: auto;
    //     }
    // }
    .site-footer .brands .logo {
        width: 20%;
    }
}

@media (max-width: 1040px) {
    #booking-form .table-cell-header {
        display: none;
    }
}

@media (max-width: 960px) {
    #page {
        margin-top: 0;
    }
    // .site-header {
    //     position: relative;
    //     height: 120px;
    // }
    //.site-branding {
    //     width: 200px;
    //     height: auto;
    //     a {
    //         padding: 15px 0;
    //     }
    //     .shad-left, .shad-right {
    //         display: none;
    //     }
    // }
    // .top-bar {
    //     position: absolute;
    //     top: 24px;
    //     right: 15px;
    //     .menu > span {
    //         -webkit-box-shadow: none;
    //         box-shadow: none;
    //         border: 1px solid #ccc;
    //     }
    //     #newsletter {
    //         display: none;
    //     }
    // }
    // .site-navigation {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     > .container {
    //         padding-left: 0;
    //     }
    //     ul {
    //         text-align: left;
    //     }
    // }
    /* Sidebar */
    .sidebar-left {
        .col-content, .col-sidebar {
            width: 100%;
        }
        .row {
            .col-content, .col-sidebar {
                left: 0;
            }
        }
    }
    .sidebar {
        width: auto;
        max-width: inherit;
        margin-left: -10px;
        margin-right: -10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        .aside {
            width: 25%;
            float: left;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media (max-width: 768px) {
    // .site-header {
    //     height: auto;
    // }
    // .site-branding {
    //     position: static;
    // }
    // .top-bar #site-hotel, .site-navigation {
    //     display: none;
    // }
    .site-main {
        &:before, &:after {
            content: none;
        }
        > .inner {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    /* Sidebar */
    .sidebar .aside {
        width: 33.33%;
    }
    /* Mobile Site Navigation */
    .m-site-navigation {
        display: block;
        background-color: #1A355E;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
        }
        a {
            color: #fff;
            display: block;
            border: 1px solid transparent;
            line-height: 32px;
            padding: 0 15px;
            &:after {
                content: '\f105';
                font-family: 'FontAwesome';
                float: right;
            }
        }
        ul.menu {
            margin: 0 -15px;
        }
        .has-toggle-sub-menu {
            > a:after {
                content: '\f0d7';
            }
            &.visible > {
                a {
                    background-color: rgba(255, 255, 255, 0.1);
                }
                ul.sub-menu {
                    display: block;
                }
            }
        }
        ul.sub-menu {
            display: none;
            background-color: #222;
        }
        li.current > a {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    /* Offside Menu */
    .offside-menu {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.95);
        z-index: 9999;
        padding: 20px;
        overflow: auto;
        h2 {
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;
        }
        ul {
            list-style: none;
            margin: 0 0 24px;
            padding-left: 0;
        }
        li {
            border-bottom: 1px solid #ccc;
            a {
                display: block;
                line-height: 2.5;
                -webkit-transition: 200ms;
                transition: 200ms;
                &:after {
                    content: '\f105';
                    font-family: 'FontAwesome';
                    float: right;
                }
                &:hover {
                    background-color: #9A7B12;
                    color: #fff;
                    padding: 0 10px;
                }
            }
        }
        .close {
            display: block;
            width: 56px;
            height: 60px;
            text-align: center;
            color: #444;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 36px;
            opacity: 0.8;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        &.visible {
            visibility: visible;
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    html.open-offside-menu {
        overflow: hidden;
    }
    /* Booking Form */
    #booking-form {
        .table-cell-adults, .table-cell-children, .table-cell-rooms {
            display: none;
        }
    }
    /* Special Offers */
    .promotion {
        padding: 15px;
        .col-thumbnail, .col-detail {
            width: 50%;
        }
        .col-booking {
            width: 100%;
            margin-top: 15px;
        }
    }
}

@media (max-width: 720px) {
    /* Hero Slider */
    #home_slider {
        .col-phuket img, .col-krabi img {
            max-width: inherit;
            max-height: 40%;
            width: auto;
        }
        .col-phuket img {
            right: 10%;
        }
        .col-krabi img {
            left: 10%;
        }
    }
}

@media (max-width: 640px) {
    /* Booking Form */
    #booking-form .field-code {
        display: none;
    }
    /* Footer */
    .site-footer {
        .brands .logo {
            width: 25%;
        }
        .connect {
            .social, .contact {
                float: none;
                text-align: center;
            }
        }
        .colophon {
            .address {
                position: static;
                text-align: center;
            }
            .license {
                position: static;
                text-align: center;
                margin-top: 1em;
            }
        }
    }
    /* Owl Carousel */
    .owl-carousel.has-nav {
        padding-left: 0;
        padding-right: 0;
        .owl-nav {
            display: none;
        }
    }
}

@media (max-width: 540px) {
    /* Booking Form */
    #booking-form {
        .table-cell-checkin, .table-cell-checkout {
            display: none;
        }
    }
}

@media (max-width: 480px) {
    /* Sidebar */
    .sidebar .aside {
        width: 50%;
    }
    /* Hero Slider */
    #home_slider {
        .col-phuket img, .col-krabi img {
            left: 0;
            right: 0;
            display: block;
            margin: auto;
        }
    }
    /* Special Offers */
    .promotion {
        .col-thumbnail {
            width: 100%;
        }
        .col-detail {
            width: 100%;
            margin-top: 15px;
        }
    }
    /* Footer */
    .site-footer .brands .logo {
        width: 33.33%;
    }
}

@media (max-width: 360px) {
    /* Sidebar */
    .sidebar .aside {
        width: 100%;
    }
    /* Footer */
    .site-footer .brands .logo {
        width: 50%;
    }
}

@media (max-height: 600px) {
    /* Hero Slider */
    #home_slider .item {
        height: 100vh;
        max-height: inherit;
    }
}