[class*="sprite-"] {
    display: inline-block;
    background-image: url('../elements/sprites.png');
}

.sprite-arrow-left {
    background-position: 0 0;
    width: 22px;
    height: 45px;
}

.sprite-arrow-right {
    background-position: 22px 0;
    width: 22px;
    height: 45px;
}

[class*="sprite-flag-"] {
    background-image: url('../elements/sprites-flag.png');
    width: 18px;
    height: 13px;
    vertical-align: middle;
    margin-right: 5px;
}

.sprite-flag-gb {
    background-position: 0 0;
}

.sprite-flag-th {
    background-position: 0 -13px;
}

.sprite-flag-cn {
    background-position: 0 -26px;
}

[class*="sprite-social-"] {
    background-image: url('../elements/sprite-social.png');
    background-size: 60px 60px;
    width: 20px;
    height: 20px;
    @media (min-resolution: 2dppx) {
        background-image: url('../elements/sprite-social@2x.png');
    }
}

.sprite-social-facebook { background-position: 0 0; }
.sprite-social-youtube { background-position: -20px 0; }
.sprite-social-instagram { background-position: -40px 0; }