@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    /* Pattern */
    .pattern-fibers {
        background-image: url(../elements/paper_fibers_@2X.png);
        background-size: 410px 410px;
    }
}

@media (max-width: 1070px) {
    .site-main.no-head {
        padding-top: 20px;
    }
    .owl-carousel.hero-slider .owl-nav {
        margin-top: -25px;
    }
}

@media (max-width: 1040px) {
    /* Booking Form */
    #booking-form .field-header {
        display: none;
    }
    .site-footer .brands .logo {
        width: 20%;
    }
}

@media (max-width: 960px) {
    .room-slides-wrap {
        position: static;
        width: 100%;
        height: 220px;
        height: 56.25vw;
        min-height: 220px;
    }
    .room-slides-thumbs {
        position: static;
        background-color: #222;
        .title, .toggle {
            display: none;
        }
    }
    .room-info {
        position: static;
        .content {
            padding: 15px;
        }
        .booking {
            display: none;
        }
    }
}

@media (max-width: 920px) {
    .site-content.sidebar-left {
        .col-content, .col-sidebar {
            width: 100%;
            position: static;
            left: 0;
            right: 0;
        }
    }
    .sidebar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-left: -10px;
        margin-right: -10px;
        .aside {
            float: left;
            width: 33.33%;
            padding: 0 10px;
        }
    }
}

@media (max-width: 860px) {
    .toggle-menu-button {
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .page-cover .owl-nav {
        display: none;
    }
    /* Booking Form */
    #booking-form {
        .field-adults, .field-children, .field-rooms {
            display: none;
        }
    }
}

@media (max-width: 720px) {
    .room-info {
        .col-thumbnail, .col-info {
            margin-bottom: 15px;
        }
        .col-thumbnail {
            width: 40%;
        }
        .col-info {
            width: 60%;
        }
        .col-amenities {
            width: 100%;
        }
        .amenities {
            .shad-left, .shad-right {
                display: none;
            }
        }
    }
}

@media (max-width: 640px) {
    /* Footer */
    .site-footer {
        .connect {
            .social, .contact {
                float: none;
                text-align: center;
            }
        }
        .colophon {
            text-align: center;
            .address, .license {
                position: static;
                width: 100%;
            }
            .address {
                margin-bottom: 10px;
            }
        }
    }
    /* Booking Form */
    #booking-form .field-code {
        display: none;
    }
}

@media (max-width: 600px) {
    .sidebar .aside {
        width: 50%;
    }
    .site-footer .brands .logo {
        width: 33.33%;
    }
}

@media (max-width: 540px) {
    /* Booking Form */
    #booking-form {
        .field-checkin, .field-checkout {
            display: none;
        }
        #submit {
            height: 46px;
            line-height: 45px;
            font-size: 20px;
        }
    }
}

@media (max-width: 480px) {
    .room-info {
        .col-thumbnail, .col-info {
            width: 100%;
        }
        .col-thumbnail .desktop.book-this-room-button {
            display: none;
        }
        .col-info .mobile.book-this-room-button {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media (max-width: 360px) {
    .site-footer .brands .logo {
        width: 50%;
    }
}